In [1]:
import pandas as pd
import pymongo

In [2]:
county_unemployment_2006 = pd.read_csv("2006_unemployment_by_county.csv")
county_unemployment_2006.head()

,laus_code,state_fips_code,county_fips_code,county_state,year,labor_force,employed,unemployed,unemployment_rate
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2006.0,"24,398","23,585",813,3.3
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2006.0,"79,711","77,147","2,564",3.2
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2006.0,"10,705","10,096",609,5.7
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2006.0,"8,850","8,477",373,4.2
4,CN0100900000000,1.0,9.0,"Blount County, AL",2006.0,"26,770","25,902",868,3.2

In [3]:
county_unemployment_2006_df = pd.DataFrame(county_unemployment_2006)
county_unemployment_2006_df[['county','state']]= county_unemployment_2006_df.county_state.str.split(",",expand=True,)

In [4]:
clean_county_2006_df = county_unemployment_2006_df.drop('county_state',axis=1)
clean_county_2006_df = clean_county_2006_df.dropna()

In [5]:
clean_county_2006_df = clean_county_2006_df[~clean_county_2006_df['state'].str.contains('PR')]

In [6]:
clean_county_2006_df

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state
0,CN0100100000000,1.0,1.0,2006.0,"24,398","23,585",813,3.3,Autauga County,AL
1,CN0100300000000,1.0,3.0,2006.0,"79,711","77,147","2,564",3.2,Baldwin County,AL
2,CN0100500000000,1.0,5.0,2006.0,"10,705","10,096",609,5.7,Barbour County,AL
3,CN0100700000000,1.0,7.0,2006.0,"8,850","8,477",373,4.2,Bibb County,AL
4,CN0100900000000,1.0,9.0,2006.0,"26,770","25,902",868,3.2,Blount County,AL
5,CN0101100000000,1.0,11.0,2006.0,"3,702","3,372",330,8.9,Bullock County,AL
6,CN0101300000000,1.0,13.0,2006.0,"9,238","8,709",529,5.7,Butler County,AL
7,CN0101500000000,1.0,15.0,2006.0,"54,063","51,872","2,191",4.1,Calhoun County,AL
8,CN0101700000000,1.0,17.0,2006.0,"15,749","14,828",921,5.8,Chambers County,AL
9,CN0101900000000,1.0,19.0,2006.0,"11,854","11,352",502,4.2,Cherokee County,AL
10,CN0102100000000,1.0,21.0,2006.0,"19,771","19,059",712,3.6,Chilton County,AL
11,CN0102300000000,1.0,23.0,2006.0,"5,329","5,030",299,5.6,Choctaw County,AL
12,CN0102500000000,1.0,25.0,2006.0,"10,261","9,622",639,6.2,Clarke County,AL
13,CN0102700000000,1.0,27.0,2006.0,"6,182","5,902",280,4.5,Clay County,AL
14,CN0102900000000,1.0,29.0,2006.0,"6,639","6,406",233,3.5,Cleburne County,AL
15,CN0103100000000,1.0,31.0,2006.0,"20,691","19,917",774,3.7,Coffee County,AL
16,CN0103300000000,1.0,33.0,2006.0,"25,307","24,128","1,179",4.7,Colbert County,AL
17,CN0103500000000,1.0,35.0,2006.0,"5,123","4,833",290,5.7,Conecuh County,AL
18,CN0103700000000,1.0,37.0,2006.0,"4,794","4,525",269,5.6,Coosa County,AL
19,CN0103900000000,1.0,39.0,2006.0,"17,195","16,529",666,3.9,Covington County,AL
20,CN0104100000000,1.0,41.0,2006.0,"6,595","6,332",263,4.0,Crenshaw County,AL
21,CN0104300000000,1.0,43.0,2006.0,"39,375","38,026","1,349",3.4,Cullman County,AL
22,CN0104500000000,1.0,45.0,2006.0,"20,480","19,522",958,4.7,Dale County,AL
23,CN0104700000000,1.0,47.0,2006.0,"15,903","14,594","1,309",8.2,Dallas County,AL
24,CN0104900000000,1.0,49.0,2006.0,"31,493","30,176","1,317",4.2,DeKalb County,AL
25,CN0105100000000,1.0,51.0,2006.0,"35,169","33,968","1,201",3.4,Elmore County,AL
26,CN0105300000000,1.0,53.0,2006.0,"14,348","13,634",714,5.0,Escambia County,AL
27,CN0105500000000,1.0,55.0,2006.0,"46,521","44,546","1,975",4.2,Etowah County,AL
28,CN0105700000000,1.0,57.0,2006.0,"7,743","7,414",329,4.2,Fayette County,AL
29,CN0105900000000,1.0,59.0,2006.0,"13,939","13,291",648,4.6,Franklin County,AL
...,...,...,...,...,...,...,...,...,...,...
3109,CN5512900000000,55.0,129.0,2006.0,"8,093","7,560",533,6.6,Washburn County,WI
3110,CN5513100000000,55.0,131.0,2006.0,"73,930","70,867","3,063",4.1,Washington County,WI
3111,CN5513300000000,55.0,133.0,2006.0,"216,291","208,079","8,212",3.8,Waukesha County,WI
3112,CN5513500000000,55.0,135.0,2006.0,"28,487","27,060","1,427",5.0,Waupaca County,WI
3113,CN5513700000000,55.0,137.0,2006.0,"12,842","12,117",725,5.6,Waushara County,WI
3114,CN5513900000000,55.0,139.0,2006.0,"92,363","88,220","4,143",4.5,Winnebago County,WI
3115,CN5514100000000,55.0,141.0,2006.0,"40,100","37,957","2,143",5.3,Wood County,WI
3116,CN5600100000000,56.0,1.0,2006.0,"18,612","18,125",487,2.6,Albany County,WY
3117,CN5600300000000,56.0,3.0,2006.0,"5,291","5,071",220,4.2,Big Horn County,WY
3118,CN5600500000000,56.0,5.0,2006.0,"24,864","24,332",532,2.1,Campbell County,WY
3119,CN5600700000000,56.0,7.0,2006.0,"7,813","7,552",261,3.3,Carbon County,WY
3120,CN5600900000000,56.0,9.0,2006.0,"6,807","6,574",233,3.4,Converse County,WY
3121,CN5601100000000,56.0,11.0,2006.0,"3,354","3,260",94,2.8,Crook County,WY
3122,CN5601300000000,56.0,13.0,2006.0,"17,585","16,826",759,4.3,Fremont County,WY
3123,CN5601500000000,56.0,15.0,2006.0,"5,856","5,630",226,3.9,Goshen County,WY
3124,CN5601700000000,56.0,17.0,2006.0,"2,310","2,226",84,3.6,Hot Springs County,WY
3125,CN5601900000000,56.0,19.0,2006.0,"3,815","3,696",119,3.1,Johnson County,WY
3126,CN5602100000000,56.0,21.0,2006.0,"41,432","39,830","1,602",3.9,Laramie County,WY
3127,CN5602300000000,56.0,23.0,2006.0,"8,143","7,860",283,3.5,Lincoln County,WY
3128,CN5602500000000,56.0,25.0,2006.0,"39,770","38,585","1,185",3.0,Natrona County,WY
3129,CN5602700000000,56.0,27.0,2006.0,"1,129","1,092",37,3.3,Niobrara County,WY
3130,CN5602900000000,56.0,29.0,2006.0,"14,123","13,618",505,3.6,Park County,WY
3131,CN5603100000000,56.0,31.0,2006.0,"3,963","3,788",175,4.4,Platte County,WY
3132,CN5603300000000,56.0,33.0,2006.0,"15,353","14,868",485,3.2,Sheridan County,WY
3133,CN5603500000000,56.0,35.0,2006.0,"5,640","5,538",102,1.8,Sublette County,WY
3134,CN5603700000000,56.0,37.0,2006.0,"23,299","22,719",580,2.5,Sweetwater County,WY
3135,CN5603900000000,56.0,39.0,2006.0,"13,931","13,577",354,2.5,Teton County,WY
3136,CN5604100000000,56.0,41.0,2006.0,"10,950","10,620",330,3.0,Uinta County,WY
3137,CN5604300000000,56.0,43.0,2006.0,"4,156","4,005",151,3.6,Washakie County,WY
3138,CN5604500000000,56.0,45.0,2006.0,"3,054","2,947",107,3.5,Weston County,WY

In [7]:
sorted_county_2006_df = clean_county_2006_df.sort_values(['unemployment_rate'], ascending=False)
sorted_county_2006_df
# sorted_county_2016_db = clean_county_2016_db.sort_values(['unemployment_rate'], ascending=False)
# sorted_county_2016_db.head()

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state
1157,CN2209500000000,22.0,95.0,2006.0,N.A.,N.A.,N.A.,N.A.,St. John the Baptist Parish,LA
1153,CN2208700000000,22.0,87.0,2006.0,N.A.,N.A.,N.A.,N.A.,St. Bernard Parish,LA
1135,CN2205100000000,22.0,51.0,2006.0,N.A.,N.A.,N.A.,N.A.,Jefferson Parish,LA
1145,CN2207100000000,22.0,71.0,2006.0,N.A.,N.A.,N.A.,N.A.,Orleans Parish,LA
1154,CN2208900000000,22.0,89.0,2006.0,N.A.,N.A.,N.A.,N.A.,St. Charles Parish,LA
1147,CN2207500000000,22.0,75.0,2006.0,N.A.,N.A.,N.A.,N.A.,Plaquemines Parish,LA
1161,CN2210300000000,22.0,103.0,2006.0,N.A.,N.A.,N.A.,N.A.,St. Tammany Parish,LA
1044,CN2110900000000,21.0,109.0,2006.0,"4,654","4,191",463,9.9,Jackson County,KY
2317,CN4500900000000,45.0,9.0,2006.0,"6,490","5,850",640,9.9,Bamberg County,SC
1276,CN2609700000000,26.0,97.0,2006.0,"6,546","5,898",648,9.9,Mackinac County,MI
236,CN0610500000000,6.0,105.0,2006.0,"5,058","4,558",500,9.9,Trinity County,CA
2357,CN4508900000000,45.0,89.0,2006.0,"15,671","14,119","1,552",9.9,Williamsburg County,SC
1325,CN2702900000000,27.0,29.0,2006.0,"3,794","3,424",370,9.8,Clearwater County,MN
410,CN1305300000000,13.0,53.0,2006.0,"2,508","2,264",244,9.7,Chattahoochee County,GA
92,CN0228200000000,2.0,282.0,2006.0,311,281,30,9.6,Yakutat Borough/city,AK
1425,CN2805500000000,28.0,55.0,2006.0,729,659,70,9.6,Issaquena County,MS
91,CN0228000000000,2.0,280.0,2006.0,"2,907","2,629",278,9.6,Wrangell-Petersburg Census Area,AK
2343,CN4506100000000,45.0,61.0,2006.0,"8,372","7,571",801,9.6,Lee County,SC
73,CN0207000000000,2.0,70.0,2006.0,"2,103","1,902",201,9.6,Dillingham Census Area,AK
1420,CN2804500000000,28.0,45.0,2006.0,"18,207","16,455","1,752",9.6,Hancock County,MS
1299,CN2614300000000,26.0,143.0,2006.0,"10,950","9,907","1,043",9.5,Roscommon County,MI
2325,CN4502500000000,45.0,25.0,2006.0,"18,642","16,872","1,770",9.5,Chesterfield County,SC
1099,CN2121900000000,21.0,219.0,2006.0,"5,133","4,643",490,9.5,Todd County,KY
1262,CN2606900000000,26.0,69.0,2006.0,"11,184","10,135","1,049",9.4,Iosco County,MI
207,CN0604700000000,6.0,47.0,2006.0,"97,919","88,681","9,238",9.4,Merced County,CA
1473,CN2815100000000,28.0,151.0,2006.0,"22,139","20,065","2,074",9.4,Washington County,MS
1108,CN2123700000000,21.0,237.0,2006.0,"2,327","2,108",219,9.4,Wolfe County,KY
2956,CN5301300000000,53.0,13.0,2006.0,"1,506","1,366",140,9.3,Columbia County,WA
2329,CN4503300000000,45.0,33.0,2006.0,"13,398","12,154","1,244",9.3,Dillon County,SC
1411,CN2802700000000,28.0,27.0,2006.0,"10,678","9,687",991,9.3,Coahoma County,MS
...,...,...,...,...,...,...,...,...,...,...
2356,CN4508700000000,45.0,87.0,2006.0,"12,286","10,947","1,339",10.9,Union County,SC
1304,CN2615300000000,26.0,153.0,2006.0,"4,076","3,633",443,10.9,Schoolcraft County,MI
1808,CN3502900000000,35.0,29.0,2006.0,"12,323","10,991","1,332",10.8,Luna County,NM
1295,CN2613500000000,26.0,135.0,2006.0,"4,085","3,643",442,10.8,Oscoda County,MI
1228,CN2600100000000,26.0,1.0,2006.0,"4,461","3,977",484,10.8,Alcona County,MI
1270,CN2608500000000,26.0,85.0,2006.0,"4,222","3,768",454,10.8,Lake County,MI
89,CN0224000000000,2.0,240.0,2006.0,"3,344","2,986",358,10.7,Southeast Fairbanks Census Area,AK
1245,CN2603500000000,26.0,35.0,2006.0,"13,364","11,932","1,432",10.7,Clare County,MI
1410,CN2802500000000,28.0,25.0,2006.0,"8,180","7,306",874,10.7,Clay County,MS
1408,CN2802100000000,28.0,21.0,2006.0,"3,564","3,183",381,10.7,Claiborne County,MS
2708,CN4837700000000,48.0,377.0,2006.0,"3,214","2,876",338,10.5,Presidio County,TX
2670,CN4830100000000,48.0,301.0,2006.0,38,34,4,10.5,Loving County,TX
2515,CN4718100000000,47.0,181.0,2006.0,"6,667","5,976",691,10.4,Wayne County,TN
1269,CN2608300000000,26.0,83.0,2006.0,"1,075",964,111,10.3,Keweenaw County,MI
1233,CN2601100000000,26.0,11.0,2006.0,"7,902","7,093",809,10.2,Arenac County,MI
1066,CN2115300000000,21.0,153.0,2006.0,"4,326","3,886",440,10.2,Magoffin County,KY
2324,CN4502300000000,45.0,23.0,2006.0,"16,159","14,511","1,648",10.2,Chester County,SC
1423,CN2805100000000,28.0,51.0,2006.0,"7,157","6,424",733,10.2,Holmes County,MS
2315,CN4500500000000,45.0,5.0,2006.0,"3,869","3,477",392,10.1,Allendale County,SC
1253,CN2605100000000,26.0,51.0,2006.0,"10,958","9,850","1,108",10.1,Gladwin County,MI
1063,CN2114700000000,21.0,147.0,2006.0,"5,977","5,371",606,10.1,McCreary County,KY
1243,CN2603100000000,26.0,31.0,2006.0,"12,887","11,580","1,307",10.1,Cheboygan County,MI
1421,CN2804700000000,28.0,47.0,2006.0,"82,643","74,359","8,284",10.0,Harrison County,MS
2959,CN5301900000000,53.0,19.0,2006.0,"2,946","2,650",296,10.0,Ferry County,WA
1015,CN2105100000000,21.0,51.0,2006.0,"7,067","6,363",704,10.0,Clay County,KY
2318,CN4501100000000,45.0,11.0,2006.0,"9,252","8,327",925,10.0,Barnwell County,SC
94,CN0400100000000,4.0,1.0,2006.0,"20,365","18,320","2,045",10.0,Apache County,AZ
583,CN1607100000000,16.0,71.0,2006.0,"2,231","2,188",43,1.9,Oneida County,ID
3133,CN5603500000000,56.0,35.0,2006.0,"5,640","5,538",102,1.8,Sublette County,WY
1643,CN3009700000000,30.0,97.0,2006.0,"2,816","2,767",49,1.7,Sweet Grass County,MT

In [8]:
sorted_county_2006_df.state_fips_code = sorted_county_2006_df.state_fips_code.astype(str)
sorted_county_2006_df.county_fips_code = sorted_county_2006_df.county_fips_code.astype(str)

In [9]:
sorted_county_2006_df["county_fips_code"]=sorted_county_2006_df["county_fips_code"].str.split(pat=".")
sorted_county_2006_df["county_fips_code"]

1157     [95, 0]
1153     [87, 0]
1135     [51, 0]
1145     [71, 0]
1154     [89, 0]
1147     [75, 0]
1161    [103, 0]
1044    [109, 0]
2317      [9, 0]
1276     [97, 0]
236     [105, 0]
2357     [89, 0]
1325     [29, 0]
410      [53, 0]
92      [282, 0]
1425     [55, 0]
91      [280, 0]
2343     [61, 0]
73       [70, 0]
1420     [45, 0]
1299    [143, 0]
2325     [25, 0]
1099    [219, 0]
1262     [69, 0]
207      [47, 0]
1473    [151, 0]
1108    [237, 0]
2956     [13, 0]
2329     [33, 0]
1411     [27, 0]
          ...
2356     [87, 0]
1304    [153, 0]
1808     [29, 0]
1295    [135, 0]
1228      [1, 0]
1270     [85, 0]
89      [240, 0]
1245     [35, 0]
1410     [25, 0]
1408     [21, 0]
2708    [377, 0]
2670    [301, 0]
2515    [181, 0]
1269     [83, 0]
1233     [11, 0]
1066    [153, 0]
2324     [23, 0]
1423     [51, 0]
2315      [5, 0]
1253     [51, 0]
1063    [147, 0]
1243     [31, 0]
1421     [47, 0]
2959     [19, 0]
1015     [51, 0]
2318     [11, 0]
94        [1, 0]
583      [71, 0]
3133     [35, 0]
1643     [97, 0]
Name: county_fips_code, Length: 3138, dtype: object

In [10]:
sorted_county_2006_df["state_fips_code"]=sorted_county_2006_df["state_fips_code"].str.split(pat=".")
sorted_county_2006_df["state_fips_code"]

1157    [22, 0]
1153    [22, 0]
1135    [22, 0]
1145    [22, 0]
1154    [22, 0]
1147    [22, 0]
1161    [22, 0]
1044    [21, 0]
2317    [45, 0]
1276    [26, 0]
236      [6, 0]
2357    [45, 0]
1325    [27, 0]
410     [13, 0]
92       [2, 0]
1425    [28, 0]
91       [2, 0]
2343    [45, 0]
73       [2, 0]
1420    [28, 0]
1299    [26, 0]
2325    [45, 0]
1099    [21, 0]
1262    [26, 0]
207      [6, 0]
1473    [28, 0]
1108    [21, 0]
2956    [53, 0]
2329    [45, 0]
1411    [28, 0]
         ...
2356    [45, 0]
1304    [26, 0]
1808    [35, 0]
1295    [26, 0]
1228    [26, 0]
1270    [26, 0]
89       [2, 0]
1245    [26, 0]
1410    [28, 0]
1408    [28, 0]
2708    [48, 0]
2670    [48, 0]
2515    [47, 0]
1269    [26, 0]
1233    [26, 0]
1066    [21, 0]
2324    [45, 0]
1423    [28, 0]
2315    [45, 0]
1253    [26, 0]
1063    [21, 0]
1243    [26, 0]
1421    [28, 0]
2959    [53, 0]
1015    [21, 0]
2318    [45, 0]
94       [4, 0]
583     [16, 0]
3133    [56, 0]
1643    [30, 0]
Name: state_fips_code, Length: 3138, dtype: object

In [11]:
sorted_county_2006_df["Updated county_fips_code"] = sorted_county_2006_df["county_fips_code"].apply(lambda x: x[0].zfill(3))
sorted_county_2006_df["Updated county_fips_code"]

1157    095
1153    087
1135    051
1145    071
1154    089
1147    075
1161    103
1044    109
2317    009
1276    097
236     105
2357    089
1325    029
410     053
92      282
1425    055
91      280
2343    061
73      070
1420    045
1299    143
2325    025
1099    219
1262    069
207     047
1473    151
1108    237
2956    013
2329    033
1411    027
       ...
2356    087
1304    153
1808    029
1295    135
1228    001
1270    085
89      240
1245    035
1410    025
1408    021
2708    377
2670    301
2515    181
1269    083
1233    011
1066    153
2324    023
1423    051
2315    005
1253    051
1063    147
1243    031
1421    047
2959    019
1015    051
2318    011
94      001
583     071
3133    035
1643    097
Name: Updated county_fips_code, Length: 3138, dtype: object

In [12]:
sorted_county_2006_df["Updated state_fips_code"] = sorted_county_2006_df["state_fips_code"].apply(lambda x: x[0])
sorted_county_2006_df["Updated state_fips_code"]

1157    22
1153    22
1135    22
1145    22
1154    22
1147    22
1161    22
1044    21
2317    45
1276    26
236      6
2357    45
1325    27
410     13
92       2
1425    28
91       2
2343    45
73       2
1420    28
1299    26
2325    45
1099    21
1262    26
207      6
1473    28
1108    21
2956    53
2329    45
1411    28
        ..
2356    45
1304    26
1808    35
1295    26
1228    26
1270    26
89       2
1245    26
1410    28
1408    28
2708    48
2670    48
2515    47
1269    26
1233    26
1066    21
2324    45
1423    28
2315    45
1253    26
1063    21
1243    26
1421    28
2959    53
1015    21
2318    45
94       4
583     16
3133    56
1643    30
Name: Updated state_fips_code, Length: 3138, dtype: object

In [13]:
new_fips = sorted_county_2006_df["Updated state_fips_code"] + sorted_county_2006_df["Updated county_fips_code"]

In [14]:
new_fips

1157    22095
1153    22087
1135    22051
1145    22071
1154    22089
1147    22075
1161    22103
1044    21109
2317    45009
1276    26097
236      6105
2357    45089
1325    27029
410     13053
92       2282
1425    28055
91       2280
2343    45061
73       2070
1420    28045
1299    26143
2325    45025
1099    21219
1262    26069
207      6047
1473    28151
1108    21237
2956    53013
2329    45033
1411    28027
        ...
2356    45087
1304    26153
1808    35029
1295    26135
1228    26001
1270    26085
89       2240
1245    26035
1410    28025
1408    28021
2708    48377
2670    48301
2515    47181
1269    26083
1233    26011
1066    21153
2324    45023
1423    28051
2315    45005
1253    26051
1063    21147
1243    26031
1421    28047
2959    53019
1015    21051
2318    45011
94       4001
583     16071
3133    56035
1643    30097
Length: 3138, dtype: object

In [15]:
sorted_county_2006_df['new_fips'] = new_fips

In [16]:
sorted_county_2006_df

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state,Updated county_fips_code,Updated state_fips_code,new_fips
1157,CN2209500000000,"[22, 0]","[95, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. John the Baptist Parish,LA,095,22,22095
1153,CN2208700000000,"[22, 0]","[87, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. Bernard Parish,LA,087,22,22087
1135,CN2205100000000,"[22, 0]","[51, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,Jefferson Parish,LA,051,22,22051
1145,CN2207100000000,"[22, 0]","[71, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,Orleans Parish,LA,071,22,22071
1154,CN2208900000000,"[22, 0]","[89, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. Charles Parish,LA,089,22,22089
1147,CN2207500000000,"[22, 0]","[75, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,Plaquemines Parish,LA,075,22,22075
1161,CN2210300000000,"[22, 0]","[103, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. Tammany Parish,LA,103,22,22103
1044,CN2110900000000,"[21, 0]","[109, 0]",2006.0,"4,654","4,191",463,9.9,Jackson County,KY,109,21,21109
2317,CN4500900000000,"[45, 0]","[9, 0]",2006.0,"6,490","5,850",640,9.9,Bamberg County,SC,009,45,45009
1276,CN2609700000000,"[26, 0]","[97, 0]",2006.0,"6,546","5,898",648,9.9,Mackinac County,MI,097,26,26097
236,CN0610500000000,"[6, 0]","[105, 0]",2006.0,"5,058","4,558",500,9.9,Trinity County,CA,105,6,6105
2357,CN4508900000000,"[45, 0]","[89, 0]",2006.0,"15,671","14,119","1,552",9.9,Williamsburg County,SC,089,45,45089
1325,CN2702900000000,"[27, 0]","[29, 0]",2006.0,"3,794","3,424",370,9.8,Clearwater County,MN,029,27,27029
410,CN1305300000000,"[13, 0]","[53, 0]",2006.0,"2,508","2,264",244,9.7,Chattahoochee County,GA,053,13,13053
92,CN0228200000000,"[2, 0]","[282, 0]",2006.0,311,281,30,9.6,Yakutat Borough/city,AK,282,2,2282
1425,CN2805500000000,"[28, 0]","[55, 0]",2006.0,729,659,70,9.6,Issaquena County,MS,055,28,28055
91,CN0228000000000,"[2, 0]","[280, 0]",2006.0,"2,907","2,629",278,9.6,Wrangell-Petersburg Census Area,AK,280,2,2280
2343,CN4506100000000,"[45, 0]","[61, 0]",2006.0,"8,372","7,571",801,9.6,Lee County,SC,061,45,45061
73,CN0207000000000,"[2, 0]","[70, 0]",2006.0,"2,103","1,902",201,9.6,Dillingham Census Area,AK,070,2,2070
1420,CN2804500000000,"[28, 0]","[45, 0]",2006.0,"18,207","16,455","1,752",9.6,Hancock County,MS,045,28,28045
1299,CN2614300000000,"[26, 0]","[143, 0]",2006.0,"10,950","9,907","1,043",9.5,Roscommon County,MI,143,26,26143
2325,CN4502500000000,"[45, 0]","[25, 0]",2006.0,"18,642","16,872","1,770",9.5,Chesterfield County,SC,025,45,45025
1099,CN2121900000000,"[21, 0]","[219, 0]",2006.0,"5,133","4,643",490,9.5,Todd County,KY,219,21,21219
1262,CN2606900000000,"[26, 0]","[69, 0]",2006.0,"11,184","10,135","1,049",9.4,Iosco County,MI,069,26,26069
207,CN0604700000000,"[6, 0]","[47, 0]",2006.0,"97,919","88,681","9,238",9.4,Merced County,CA,047,6,6047
1473,CN2815100000000,"[28, 0]","[151, 0]",2006.0,"22,139","20,065","2,074",9.4,Washington County,MS,151,28,28151
1108,CN2123700000000,"[21, 0]","[237, 0]",2006.0,"2,327","2,108",219,9.4,Wolfe County,KY,237,21,21237
2956,CN5301300000000,"[53, 0]","[13, 0]",2006.0,"1,506","1,366",140,9.3,Columbia County,WA,013,53,53013
2329,CN4503300000000,"[45, 0]","[33, 0]",2006.0,"13,398","12,154","1,244",9.3,Dillon County,SC,033,45,45033
1411,CN2802700000000,"[28, 0]","[27, 0]",2006.0,"10,678","9,687",991,9.3,Coahoma County,MS,027,28,28027
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2356,CN4508700000000,"[45, 0]","[87, 0]",2006.0,"12,286","10,947","1,339",10.9,Union County,SC,087,45,45087
1304,CN2615300000000,"[26, 0]","[153, 0]",2006.0,"4,076","3,633",443,10.9,Schoolcraft County,MI,153,26,26153
1808,CN3502900000000,"[35, 0]","[29, 0]",2006.0,"12,323","10,991","1,332",10.8,Luna County,NM,029,35,35029
1295,CN2613500000000,"[26, 0]","[135, 0]",2006.0,"4,085","3,643",442,10.8,Oscoda County,MI,135,26,26135
1228,CN2600100000000,"[26, 0]","[1, 0]",2006.0,"4,461","3,977",484,10.8,Alcona County,MI,001,26,26001
1270,CN2608500000000,"[26, 0]","[85, 0]",2006.0,"4,222","3,768",454,10.8,Lake County,MI,085,26,26085
89,CN0224000000000,"[2, 0]","[240, 0]",2006.0,"3,344","2,986",358,10.7,Southeast Fairbanks Census Area,AK,240,2,2240
1245,CN2603500000000,"[26, 0]","[35, 0]",2006.0,"13,364","11,932","1,432",10.7,Clare County,MI,035,26,26035
1410,CN2802500000000,"[28, 0]","[25, 0]",2006.0,"8,180","7,306",874,10.7,Clay County,MS,025,28,28025
1408,CN2802100000000,"[28, 0]","[21, 0]",2006.0,"3,564","3,183",381,10.7,Claiborne County,MS,021,28,28021
2708,CN4837700000000,"[48, 0]","[377, 0]",2006.0,"3,214","2,876",338,10.5,Presidio County,TX,377,48,48377
2670,CN4830100000000,"[48, 0]","[301, 0]",2006.0,38,34,4,10.5,Loving County,TX,301,48,48301
2515,CN4718100000000,"[47, 0]","[181, 0]",2006.0,"6,667","5,976",691,10.4,Wayne County,TN,181,47,47181
1269,CN2608300000000,"[26, 0]","[83, 0]",2006.0,"1,075",964,111,10.3,Keweenaw County,MI,083,26,26083
1233,CN2601100000000,"[26, 0]","[11, 0]",2006.0,"7,902","7,093",809,10.2,Arenac County,MI,011,26,26011
1066,CN2115300000000,"[21, 0]","[153, 0]",2006.0,"4,326","3,886",440,10.2,Magoffin County,KY,153,21,21153
2324,CN4502300000000,"[45, 0]","[23, 0]",2006.0,"16,159","14,511","1,648",10.2,Chester County,SC,023,45,45023
1423,CN2805100000000,"[28, 0]","[51, 0]",2006.0,"7,157","6,424",733,10.2,Holmes County,MS,051,28,28051
2315,CN4500500000000,"[45, 0]","[5, 0]",2006.0,"3,869","3,477",392,10.1,Allendale County,SC,005,45,45005
1253,CN2605100000000,"[26, 0]","[51, 0]",2006.0,"10,958","9,850","1,108",10.1,Gladwin County,MI,051,26,26051
1063,CN2114700000000,"[21, 0]","[147, 0]",2006.0,"5,977","5,371",606,10.1,McCreary County,KY,147,21,21147
1243,CN2603100000000,"[26, 0]","[31, 0]",2006.0,"12,887","11,580","1,307",10.1,Cheboygan County,MI,031,26,26031
1421,CN2804700000000,"[28, 0]","[47, 0]",2006.0,"82,643","74,359","8,284",10.0,Harrison County,MS,047,28,28047
2959,CN5301900000000,"[53, 0]","[19, 0]",2006.0,"2,946","2,650",296,10.0,Ferry County,WA,019,53,53019
1015,CN2105100000000,"[21, 0]","[51, 0]",2006.0,"7,067","6,363",704,10.0,Clay County,KY,051,21,21051
2318,CN4501100000000,"[45, 0]","[11, 0]",2006.0,"9,252","8,327",925,10.0,Barnwell County,SC,011,45,45011
94,CN0400100000000,"[4, 0]","[1, 0]",2006.0,"20,365","18,320","2,045",10.0,Apache County,AZ,001,4,4001
583,CN1607100000000,"[16, 0]","[71, 0]",2006.0,"2,231","2,188",43,1.9,Oneida County,ID,071,16,16071
3133,CN5603500000000,"[56, 0]","[35, 0]",2006.0,"5,640","5,538",102,1.8,Sublette County,WY,035,56,56035
1643,CN3009700000000,"[30, 0]","[97, 0]",2006.0,"2,816","2,767",49,1.7,Sweet Grass County,MT,097,30,30097

In [17]:
county_unemployment_2016 = pd.read_csv("2016_unemployment_by_county.csv")
county_unemployment_2016.head()

,laus_code,state_fips_code,county_fips_code,county_state,year,labor_force,employed,unemployed,unemployment_rate
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2016.0,"25,966","24,645","1,321",5.1
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2016.0,"90,670","85,839","4,831",5.3
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2016.0,"8,417","7,717",700,8.3
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2016.0,"8,623","8,067",556,6.4
4,CN0100900000000,1.0,9.0,"Blount County, AL",2016.0,"24,623","23,298","1,325",5.4

In [18]:
county_unemployment_2016_df = pd.DataFrame(county_unemployment_2016)
county_unemployment_2016_df[['county','state']]= county_unemployment_2016_df.county_state.str.split(",",expand=True,)

In [19]:
clean_county_2016_df = county_unemployment_2016_df.drop('county_state',axis=1)
clean_county_2016_df = clean_county_2016_df.dropna()

clean_county_2016_df = clean_county_2016_df[~clean_county_2016_df['state'].str.contains('PR')]

In [20]:
sorted_county_2016_df = clean_county_2016_df.sort_values(['unemployment_rate'], ascending=False)
sorted_county_2016_df.head()

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state
198,CN0602500000000,6.0,25.0,2016.0,"75,207","57,049","18,158",24.1,Imperial County,CA
81,CN0215800000000,2.0,158.0,2016.0,"2,725","2,136",589,21.6,Kusilvak Census Area,AK
1068,CN2115300000000,21.0,153.0,2016.0,"3,147","2,520",627,19.9,Magoffin County,KY
110,CN0402700000000,4.0,27.0,2016.0,"94,117","76,345","17,772",18.9,Yuma County,AZ
95,CN0229000000000,2.0,290.0,2016.0,"2,423","1,990",433,17.9,Yukon-Koyukuk Census Area,AK

In [21]:
sorted_county_2016_df.state_fips_code = sorted_county_2016_df.state_fips_code.astype(str)
sorted_county_2016_df.county_fips_code = sorted_county_2016_df.county_fips_code.astype(str)

In [22]:
sorted_county_2016_df["county_fips_code"]=sorted_county_2016_df["county_fips_code"].str.split(pat=".")
sorted_county_2016_df["county_fips_code"]

198      [25, 0]
81      [158, 0]
1068    [153, 0]
110      [27, 0]
95      [290, 0]
86      [188, 0]
191      [11, 0]
1431     [63, 0]
65      [131, 0]
1810     [29, 0]
70       [50, 0]
1427     [55, 0]
2775    [507, 0]
1057    [131, 0]
2735    [427, 0]
1039     [95, 0]
2997     [13, 0]
84      [180, 0]
3020     [59, 0]
1058    [133, 0]
82      [164, 0]
88      [198, 0]
3014     [47, 0]
2766    [489, 0]
76      [105, 0]
1173    [123, 0]
2545     [47, 0]
1051    [119, 0]
1023     [63, 0]
96        [1, 0]
          ...
2401     [83, 0]
2361      [3, 0]
1690     [75, 0]
1997     [17, 0]
2421    [123, 0]
1994     [11, 0]
1668     [31, 0]
1681     [57, 0]
2036     [95, 0]
284      [79, 0]
2034     [91, 0]
305     [121, 0]
1744    [183, 0]
2677    [311, 0]
2389     [59, 0]
1720    [135, 0]
307     [125, 0]
922      [71, 0]
1704    [103, 0]
1667     [29, 0]
276      [63, 0]
275      [61, 0]
2624    [205, 0]
847     [119, 0]
303     [117, 0]
2029     [81, 0]
1624     [55, 0]
292      [95, 0]
1999     [21, 0]
248       [9, 0]
Name: county_fips_code, Length: 3140, dtype: object

In [23]:
sorted_county_2016_df["state_fips_code"]=sorted_county_2016_df["state_fips_code"].str.split(pat=".")
sorted_county_2016_df["state_fips_code"]

198      [6, 0]
81       [2, 0]
1068    [21, 0]
110      [4, 0]
95       [2, 0]
86       [2, 0]
191      [6, 0]
1431    [28, 0]
65       [1, 0]
1810    [35, 0]
70       [2, 0]
1427    [28, 0]
2775    [48, 0]
1057    [21, 0]
2735    [48, 0]
1039    [21, 0]
2997    [54, 0]
84       [2, 0]
3020    [54, 0]
1058    [21, 0]
82       [2, 0]
88       [2, 0]
3014    [54, 0]
2766    [48, 0]
76       [2, 0]
1173    [22, 0]
2545    [48, 0]
1051    [21, 0]
1023    [21, 0]
96       [4, 0]
         ...
2401    [46, 0]
2361    [46, 0]
1690    [31, 0]
1997    [38, 0]
2421    [46, 0]
1994    [38, 0]
1668    [31, 0]
1681    [31, 0]
2036    [38, 0]
284      [8, 0]
2034    [38, 0]
305      [8, 0]
1744    [31, 0]
2677    [48, 0]
2389    [46, 0]
1720    [31, 0]
307      [8, 0]
922     [20, 0]
1704    [31, 0]
1667    [31, 0]
276      [8, 0]
275      [8, 0]
2624    [48, 0]
847     [19, 0]
303      [8, 0]
2029    [38, 0]
1624    [30, 0]
292      [8, 0]
1999    [38, 0]
248      [8, 0]
Name: state_fips_code, Length: 3140, dtype: object

In [24]:
sorted_county_2016_df["Updated county_fips_code"] = sorted_county_2016_df["county_fips_code"].apply(lambda x: x[0].zfill(3))
sorted_county_2016_df["Updated county_fips_code"]

198     025
81      158
1068    153
110     027
95      290
86      188
191     011
1431    063
65      131
1810    029
70      050
1427    055
2775    507
1057    131
2735    427
1039    095
2997    013
84      180
3020    059
1058    133
82      164
88      198
3014    047
2766    489
76      105
1173    123
2545    047
1051    119
1023    063
96      001
       ...
2401    083
2361    003
1690    075
1997    017
2421    123
1994    011
1668    031
1681    057
2036    095
284     079
2034    091
305     121
1744    183
2677    311
2389    059
1720    135
307     125
922     071
1704    103
1667    029
276     063
275     061
2624    205
847     119
303     117
2029    081
1624    055
292     095
1999    021
248     009
Name: Updated county_fips_code, Length: 3140, dtype: object

In [25]:
sorted_county_2016_df["Updated state_fips_code"] = sorted_county_2016_df["state_fips_code"].apply(lambda x: x[0])
sorted_county_2016_df["Updated state_fips_code"]

198      6
81       2
1068    21
110      4
95       2
86       2
191      6
1431    28
65       1
1810    35
70       2
1427    28
2775    48
1057    21
2735    48
1039    21
2997    54
84       2
3020    54
1058    21
82       2
88       2
3014    54
2766    48
76       2
1173    22
2545    48
1051    21
1023    21
96       4
        ..
2401    46
2361    46
1690    31
1997    38
2421    46
1994    38
1668    31
1681    31
2036    38
284      8
2034    38
305      8
1744    31
2677    48
2389    46
1720    31
307      8
922     20
1704    31
1667    31
276      8
275      8
2624    48
847     19
303      8
2029    38
1624    30
292      8
1999    38
248      8
Name: Updated state_fips_code, Length: 3140, dtype: object

In [26]:
new_fips = sorted_county_2016_df["Updated state_fips_code"] + sorted_county_2016_df["Updated county_fips_code"]

In [27]:
sorted_county_2016_df['new_fips'] = new_fips

sorted_county_2016_df

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state,Updated county_fips_code,Updated state_fips_code,new_fips
198,CN0602500000000,"[6, 0]","[25, 0]",2016.0,"75,207","57,049","18,158",24.1,Imperial County,CA,025,6,6025
81,CN0215800000000,"[2, 0]","[158, 0]",2016.0,"2,725","2,136",589,21.6,Kusilvak Census Area,AK,158,2,2158
1068,CN2115300000000,"[21, 0]","[153, 0]",2016.0,"3,147","2,520",627,19.9,Magoffin County,KY,153,21,21153
110,CN0402700000000,"[4, 0]","[27, 0]",2016.0,"94,117","76,345","17,772",18.9,Yuma County,AZ,027,4,4027
95,CN0229000000000,"[2, 0]","[290, 0]",2016.0,"2,423","1,990",433,17.9,Yukon-Koyukuk Census Area,AK,290,2,2290
86,CN0218800000000,"[2, 0]","[188, 0]",2016.0,"2,964","2,490",474,16.0,Northwest Arctic Borough,AK,188,2,2188
191,CN0601100000000,"[6, 0]","[11, 0]",2016.0,"10,910","9,214","1,696",15.5,Colusa County,CA,011,6,6011
1431,CN2806300000000,"[28, 0]","[63, 0]",2016.0,"2,229","1,898",331,14.8,Jefferson County,MS,063,28,28063
65,CN0113100000000,"[1, 0]","[131, 0]",2016.0,"2,822","2,416",406,14.4,Wilcox County,AL,131,1,1131
1810,CN3502900000000,"[35, 0]","[29, 0]",2016.0,"10,768","9,218","1,550",14.4,Luna County,NM,029,35,35029
70,CN0205000000000,"[2, 0]","[50, 0]",2016.0,"7,246","6,214","1,032",14.2,Bethel Census Area,AK,050,2,2050
1427,CN2805500000000,"[28, 0]","[55, 0]",2016.0,401,345,56,14.0,Issaquena County,MS,055,28,28055
2775,CN4850700000000,"[48, 0]","[507, 0]",2016.0,"3,887","3,348",539,13.9,Zavala County,TX,507,48,48507
1057,CN2113100000000,"[21, 0]","[131, 0]",2016.0,"2,791","2,412",379,13.6,Leslie County,KY,131,21,21131
2735,CN4842700000000,"[48, 0]","[427, 0]",2016.0,"26,358","22,841","3,517",13.3,Starr County,TX,427,48,48427
1039,CN2109500000000,"[21, 0]","[95, 0]",2016.0,"6,744","5,851",893,13.2,Harlan County,KY,095,21,21095
2997,CN5401300000000,"[54, 0]","[13, 0]",2016.0,"2,623","2,286",337,12.8,Calhoun County,WV,013,54,54013
84,CN0218000000000,"[2, 0]","[180, 0]",2016.0,"4,084","3,565",519,12.7,Nome Census Area,AK,180,2,2180
3020,CN5405900000000,"[54, 0]","[59, 0]",2016.0,"6,731","5,882",849,12.6,Mingo County,WV,059,54,54059
1058,CN2113300000000,"[21, 0]","[133, 0]",2016.0,"6,425","5,623",802,12.5,Letcher County,KY,133,21,21133
82,CN0216400000000,"[2, 0]","[164, 0]",2016.0,655,573,82,12.5,Lake and Peninsula Borough,AK,164,2,2164
88,CN0219800000000,"[2, 0]","[198, 0]",2016.0,"2,768","2,431",337,12.2,Prince of Wales-Hyder Census Area,AK,198,2,2198
3014,CN5404700000000,"[54, 0]","[47, 0]",2016.0,"5,085","4,467",618,12.2,McDowell County,WV,047,54,54047
2766,CN4848900000000,"[48, 0]","[489, 0]",2016.0,"6,504","5,708",796,12.2,Willacy County,TX,489,48,48489
76,CN0210500000000,"[2, 0]","[105, 0]",2016.0,"1,205","1,062",143,11.9,Hoonah-Angoon Census Area,AK,105,2,2105
1173,CN2212300000000,"[22, 0]","[123, 0]",2016.0,"4,103","3,614",489,11.9,West Carroll Parish,LA,123,22,22123
2545,CN4804700000000,"[48, 0]","[47, 0]",2016.0,"2,440","2,152",288,11.8,Brooks County,TX,047,48,48047
1051,CN2111900000000,"[21, 0]","[119, 0]",2016.0,"4,559","4,028",531,11.6,Knott County,KY,119,21,21119
1023,CN2106300000000,"[21, 0]","[63, 0]",2016.0,"2,098","1,855",243,11.6,Elliott County,KY,063,21,21063
96,CN0400100000000,"[4, 0]","[1, 0]",2016.0,"20,320","17,984","2,336",11.5,Apache County,AZ,001,4,4001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2401,CN4608300000000,"[46, 0]","[83, 0]",2016.0,"31,436","30,760",676,2.2,Lincoln County,SD,083,46,46083
2361,CN4600300000000,"[46, 0]","[3, 0]",2016.0,"1,521","1,487",34,2.2,Aurora County,SD,003,46,46003
1690,CN3107500000000,"[31, 0]","[75, 0]",2016.0,452,442,10,2.2,Grant County,NE,075,31,31075
1997,CN3801700000000,"[38, 0]","[17, 0]",2016.0,"100,237","98,000","2,237",2.2,Cass County,ND,017,38,38017
2421,CN4612300000000,"[46, 0]","[123, 0]",2016.0,"3,063","2,995",68,2.2,Tripp County,SD,123,46,46123
1994,CN3801100000000,"[38, 0]","[11, 0]",2016.0,"1,837","1,797",40,2.2,Bowman County,ND,011,38,38011
1668,CN3103100000000,"[31, 0]","[31, 0]",2016.0,"3,468","3,390",78,2.2,Cherry County,NE,031,31,31031
1681,CN3105700000000,"[31, 0]","[57, 0]",2016.0,"1,195","1,169",26,2.2,Dundy County,NE,057,31,31057
2036,CN3809500000000,"[38, 0]","[95, 0]",2016.0,"1,332","1,303",29,2.2,Towner County,ND,095,38,38095
284,CN0807900000000,"[8, 0]","[79, 0]",2016.0,464,454,10,2.2,Mineral County,CO,079,8,8079
2034,CN3809100000000,"[38, 0]","[91, 0]",2016.0,"1,075","1,052",23,2.1,Steele County,ND,091,38,38091
305,CN0812100000000,"[8, 0]","[121, 0]",2016.0,"2,923","2,861",62,2.1,Washington County,CO,121,8,8121
1744,CN3118300000000,"[31, 0]","[183, 0]",2016.0,565,553,12,2.1,Wheeler County,NE,183,31,31183
2677,CN4831100000000,"[48, 0]","[311, 0]",2016.0,862,844,18,2.1,McMullen County,TX,311,48,48311
2389,CN4605900000000,"[46, 0]","[59, 0]",2016.0,"1,831","1,792",39,2.1,Hand County,SD,059,46,46059
1720,CN3113500000000,"[31, 0]","[135, 0]",2016.0,"1,818","1,779",39,2.1,Perkins County,NE,135,31,31135
307,CN0812500000000,"[8, 0]","[125, 0]",2016.0,"5,444","5,330",114,2.1,Yuma County,CO,125,8,8125
922,CN2007100000000,"[20, 0]","[71, 0]",2016.0,912,893,19,2.1,Greeley County,KS,071,20,20071
1704,CN3110300000000,"[31, 0]","[103, 0]",2016.0,619,606,13,2.1,Keya Paha County,NE,103,31,31103
1667,CN3102900000000,"[31, 0]","[29, 0]",2016.0,"2,289","2,242",47,2.1,Chase County,NE,029,31,31029
276,CN0806300000000,"[8, 0]","[63, 0]",2016.0,"4,543","4,448",95,2.1,Kit Carson County,CO,063,8,8063
275,CN0806100000000,"[8, 0]","[61, 0]",2016.0,847,830,17,2.0,Kiowa County,CO,061,8,8061
2624,CN4820500000000,"[48, 0]","[205, 0]",2016.0,"2,961","2,901",60,2.0,Hartley County,TX,205,48,48205
847,CN1911900000000,"[19, 0]","[119, 0]",2016.0,"7,087","6,944",143,2.0,Lyon County,IA,119,19,19119
303,CN0811700000000,"[8, 0]","[117, 0]",2016.0,"21,150","20,719",431,2.0,Summit County,CO,117,8,8117
2029,CN3808100000000,"[38, 0]","[81, 0]",2016.0,"2,333","2,288",45,1.9,Sargent County,ND,081,38,38081
1624,CN3005500000000,"[30, 0]","[55, 0]",2016.0,"1,043","1,023",20,1.9,McCone County,MT,055,30,30055
292,CN0809500000000,"[8, 0]","[95, 0]",2016.0,"2,474","2,426",48,1.9,Phillips County,CO,095,8,8095
1999,CN3802100000000,"[38, 0]","[21, 0]",2016.0,"2,547","2,498",49,1.9,Dickey County,ND,021,38,38021
248,CN0800900000000,"[8, 0]","[9, 0]",2016.0,"2,094","2,059",35,1.7,Baca County,CO,009,8,8009

In [28]:
# worst_counties_2016_df = sorted_county_2016_df.head(10)
# worst_counties_2016_df.to_csv('worst_counties_2016_df.csv',index=False)

# best_counties_2016_df = sorted_county_2016_df.tail(10)
# best_counties_2016_df.to_csv('best_counties_2016_df.csv',index=False)

In [29]:
# joined_2006_df = pd.concat([worst_counties_2006_df, best_counties_2006_df])
# joined_2016_df = pd.concat([worst_counties_2016_df, best_counties_2016_df])
# joined_2016_df

In [30]:
merged_UE_df = pd.merge(sorted_county_2006_df, sorted_county_2016_df , on=['county','state'], how='inner')
merged_UE_df = merged_UE_df.rename(columns={'new_fips_y': 'new_fips'})
# merged_UE_df.set_index('new_fips')
merged_UE_df['new_fips'] = merged_UE_df['new_fips'].astype(int)
merged_UE_df

,laus_code_x,state_fips_code_x,county_fips_code_x,year_x,labor_force_x,employed_x,unemployed_x,unemployment_rate_x,county,state,...,state_fips_code_y,county_fips_code_y,year_y,labor_force_y,employed_y,unemployed_y,unemployment_rate_y,Updated county_fips_code_y,Updated state_fips_code_y,new_fips
0,CN2209500000000,"[22, 0]","[95, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. John the Baptist Parish,LA,...,"[22, 0]","[95, 0]",2016.0,"20,055","18,687","1,368",6.8,095,22,22095
1,CN2208700000000,"[22, 0]","[87, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. Bernard Parish,LA,...,"[22, 0]","[87, 0]",2016.0,"19,546","18,360","1,186",6.1,087,22,22087
2,CN2205100000000,"[22, 0]","[51, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,Jefferson Parish,LA,...,"[22, 0]","[51, 0]",2016.0,"216,487","205,085","11,402",5.3,051,22,22051
3,CN2207100000000,"[22, 0]","[71, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,Orleans Parish,LA,...,"[22, 0]","[71, 0]",2016.0,"179,964","169,433","10,531",5.9,071,22,22071
4,CN2208900000000,"[22, 0]","[89, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. Charles Parish,LA,...,"[22, 0]","[89, 0]",2016.0,"25,323","23,980","1,343",5.3,089,22,22089
5,CN2207500000000,"[22, 0]","[75, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,Plaquemines Parish,LA,...,"[22, 0]","[75, 0]",2016.0,"10,184","9,641",543,5.3,075,22,22075
6,CN2210300000000,"[22, 0]","[103, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. Tammany Parish,LA,...,"[22, 0]","[103, 0]",2016.0,"117,490","111,662","5,828",5.0,103,22,22103
7,CN2110900000000,"[21, 0]","[109, 0]",2006.0,"4,654","4,191",463,9.9,Jackson County,KY,...,"[21, 0]","[109, 0]",2016.0,"4,166","3,834",332,8.0,109,21,21109
8,CN4500900000000,"[45, 0]","[9, 0]",2006.0,"6,490","5,850",640,9.9,Bamberg County,SC,...,"[45, 0]","[9, 0]",2016.0,"5,312","4,830",482,9.1,009,45,45009
9,CN2609700000000,"[26, 0]","[97, 0]",2006.0,"6,546","5,898",648,9.9,Mackinac County,MI,...,"[26, 0]","[97, 0]",2016.0,"5,191","4,680",511,9.8,097,26,26097
10,CN0610500000000,"[6, 0]","[105, 0]",2006.0,"5,058","4,558",500,9.9,Trinity County,CA,...,"[6, 0]","[105, 0]",2016.0,"4,996","4,642",354,7.1,105,6,6105
11,CN4508900000000,"[45, 0]","[89, 0]",2006.0,"15,671","14,119","1,552",9.9,Williamsburg County,SC,...,"[45, 0]","[89, 0]",2016.0,"12,464","11,497",967,7.8,089,45,45089
12,CN2702900000000,"[27, 0]","[29, 0]",2006.0,"3,794","3,424",370,9.8,Clearwater County,MN,...,"[27, 0]","[29, 0]",2016.0,"4,728","4,275",453,9.6,029,27,27029
13,CN1305300000000,"[13, 0]","[53, 0]",2006.0,"2,508","2,264",244,9.7,Chattahoochee County,GA,...,"[13, 0]","[53, 0]",2016.0,"2,059","1,889",170,8.3,053,13,13053
14,CN0228200000000,"[2, 0]","[282, 0]",2006.0,311,281,30,9.6,Yakutat Borough/city,AK,...,"[2, 0]","[282, 0]",2016.0,243,223,20,8.2,282,2,2282
15,CN2805500000000,"[28, 0]","[55, 0]",2006.0,729,659,70,9.6,Issaquena County,MS,...,"[28, 0]","[55, 0]",2016.0,401,345,56,14.0,055,28,28055
16,CN4506100000000,"[45, 0]","[61, 0]",2006.0,"8,372","7,571",801,9.6,Lee County,SC,...,"[45, 0]","[61, 0]",2016.0,"6,433","5,976",457,7.1,061,45,45061
17,CN0207000000000,"[2, 0]","[70, 0]",2006.0,"2,103","1,902",201,9.6,Dillingham Census Area,AK,...,"[2, 0]","[70, 0]",2016.0,"2,077","1,877",200,9.6,070,2,2070
18,CN2804500000000,"[28, 0]","[45, 0]",2006.0,"18,207","16,455","1,752",9.6,Hancock County,MS,...,"[28, 0]","[45, 0]",2016.0,"18,899","17,752","1,147",6.1,045,28,28045
19,CN2614300000000,"[26, 0]","[143, 0]",2006.0,"10,950","9,907","1,043",9.5,Roscommon County,MI,...,"[26, 0]","[143, 0]",2016.0,"7,871","7,206",665,8.4,143,26,26143
20,CN4502500000000,"[45, 0]","[25, 0]",2006.0,"18,642","16,872","1,770",9.5,Chesterfield County,SC,...,"[45, 0]","[25, 0]",2016.0,"21,611","20,528","1,083",5.0,025,45,45025
21,CN2121900000000,"[21, 0]","[219, 0]",2006.0,"5,133","4,643",490,9.5,Todd County,KY,...,"[21, 0]","[219, 0]",2016.0,"5,299","5,061",238,4.5,219,21,21219
22,CN2606900000000,"[26, 0]","[69, 0]",2006.0,"11,184","10,135","1,049",9.4,Iosco County,MI,...,"[26, 0]","[69, 0]",2016.0,"10,112","9,378",734,7.3,069,26,26069
23,CN0604700000000,"[6, 0]","[47, 0]",2006.0,"97,919","88,681","9,238",9.4,Merced County,CA,...,"[6, 0]","[47, 0]",2016.0,"114,393","102,304","12,089",10.6,047,6,6047
24,CN2815100000000,"[28, 0]","[151, 0]",2006.0,"22,139","20,065","2,074",9.4,Washington County,MS,...,"[28, 0]","[151, 0]",2016.0,"17,783","16,188","1,595",9.0,151,28,28151
25,CN2123700000000,"[21, 0]","[237, 0]",2006.0,"2,327","2,108",219,9.4,Wolfe County,KY,...,"[21, 0]","[237, 0]",2016.0,"1,918","1,722",196,10.2,237,21,21237
26,CN5301300000000,"[53, 0]","[13, 0]",2006.0,"1,506","1,366",140,9.3,Columbia County,WA,...,"[53, 0]","[13, 0]",2016.0,"1,717","1,606",111,6.5,013,53,53013
27,CN4503300000000,"[45, 0]","[33, 0]",2006.0,"13,398","12,154","1,244",9.3,Dillon County,SC,...,"[45, 0]","[33, 0]",2016.0,"12,673","11,812",861,6.8,033,45,45033
28,CN2802700000000,"[28, 0]","[27, 0]",2006.0,"10,678","9,687",991,9.3,Coahoma County,MS,...,"[28, 0]","[27, 0]",2016.0,"9,230","8,430",800,8.7,027,28,28027
29,CN4604100000000,"[46, 0]","[41, 0]",2006.0,"2,716","2,463",253,9.3,Dewey County,SD,...,"[46, 0]","[41, 0]",2016.0,"2,251","2,049",202,9.0,041,46,46041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3105,CN4508700000000,"[45, 0]","[87, 0]",2006.0,"12,286","10,947","1,339",10.9,Union County,SC,...,"[45, 0]","[87, 0]",2016.0,"11,456","10,742",714,6.2,087,45,45087
3106,CN2615300000000,"[26, 0]","[153, 0]",2006.0,"4,076","3,633",443,10.9,Schoolcraft County,MI,...,"[26, 0]","[153, 0]",2016.0,"3,389","3,081",308,9.1,153,26,26153
3107,CN3502900000000,"[35, 0]","[29, 0]",2006.0,"12,323","10,991","1,332",10.8,Luna County,NM,...,"[35, 0]","[29, 0]",2016.0,"10,768","9,218","1,550",14.4,029,35,35029
3108,CN2613500000000,"[26, 0]","[135, 0]",2006.0,"4,085","3,643",442,10.8,Oscoda County,MI,...,"[26, 0]","[135, 0]",2016.0,"2,907","2,695",212,7.3,135,26,26135
3109,CN2600100000000,"[26, 0]","[1, 0]",2006.0,"4,461","3,977",484,10.8,Alcona County,MI,...,"[26, 0]","[1, 0]",2016.0,"3,829","3,537",292,7.6,001,26,26001
3110,CN2608500000000,"[26, 0]","[85, 0]",2006.0,"4,222","3,768",454,10.8,Lake County,MI,...,"[26, 0]","[85, 0]",2016.0,"3,754","3,473",281,7.5,085,26,26085
3111,CN0224000000000,"[2, 0]","[240, 0]",2006.0,"3,344","2,986",358,10.7,Southeast Fairbanks Census Area,AK,...,"[2, 0]","[240, 0]",2016.0,"2,996","2,674",322,10.7,240,2,2240
3112,CN2603500000000,"[26, 0]","[35, 0]",2006.0,"13,364","11,932","1,432",10.7,Clare County,MI,...,"[26, 0]","[35, 0]",2016.0,"11,958","11,086",872,7.3,035,26,26035
3113,CN2802500000000,"[28, 0]","[25, 0]",2006.0,"8,180","7,306",874,10.7,Clay County,MS,...,"[28, 0]","[25, 0]",2016.0,"8,030","7,380",650,8.1,025,28,28025
3114,CN2802100000000,"[28, 0]","[21, 0]",2006.0,"3,564","3,183",381,10.7,Claiborne County,MS,...,"[28, 0]","[21, 0]",2016.0,"3,096","2,745",351,11.3,021,28,28021
3115,CN4837700000000,"[48, 0]","[377, 0]",2006.0,"3,214","2,876",338,10.5,Presidio County,TX,...,"[48, 0]","[377, 0]",2016.0,"3,080","2,751",329,10.7,377,48,48377
3116,CN4830100000000,"[48, 0]","[301, 0]",2006.0,38,34,4,10.5,Loving County,TX,...,"[48, 0]","[301, 0]",2016.0,86,82,4,4.7,301,48,48301
3117,CN4718100000000,"[47, 0]","[181, 0]",2006.0,"6,667","5,976",691,10.4,Wayne County,TN,...,"[47, 0]","[181, 0]",2016.0,"6,077","5,679",398,6.5,181,47,47181
3118,CN2608300000000,"[26, 0]","[83, 0]",2006.0,"1,075",964,111,10.3,Keweenaw County,MI,...,"[26, 0]","[83, 0]",2016.0,942,861,81,8.6,083,26,26083
3119,CN2601100000000,"[26, 0]","[11, 0]",2006.0,"7,902","7,093",809,10.2,Arenac County,MI,...,"[26, 0]","[11, 0]",2016.0,"6,122","5,617",505,8.2,011,26,26011
3120,CN2115300000000,"[21, 0]","[153, 0]",2006.0,"4,326","3,886",440,10.2,Magoffin County,KY,...,"[21, 0]","[153, 0]",2016.0,"3,147","2,520",627,19.9,153,21,21153
3121,CN4502300000000,"[45, 0]","[23, 0]",2006.0,"16,159","14,511","1,648",10.2,Chester County,SC,...,"[45, 0]","[23, 0]",2016.0,"13,378","12,411",967,7.2,023,45,45023
3122,CN2805100000000,"[28, 0]","[51, 0]",2006.0,"7,157","6,424",733,10.2,Holmes County,MS,...,"[28, 0]","[51, 0]",2016.0,"5,985","5,329",656,11.0,051,28,28051
3123,CN4500500000000,"[45, 0]","[5, 0]",2006.0,"3,869","3,477",392,10.1,Allendale County,SC,...,"[45, 0]","[5, 0]",2016.0,"2,660","2,431",229,8.6,005,45,45005
3124,CN2605100000000,"[26, 0]","[51, 0]",2006.0,"10,958","9,850","1,108",10.1,Gladwin County,MI,...,"[26, 0]","[51, 0]",2016.0,"9,889","9,200",689,7.0,051,26,26051
3125,CN2114700000000,"[21, 0]","[147, 0]",2006.0,"5,977","5,371",606,10.1,McCreary County,KY,...,"[21, 0]","[147, 0]",2016.0,"4,601","4,227",374,8.1,147,21,21147
3126,CN2603100000000,"[26, 0]","[31, 0]",2006.0,"12,887","11,580","1,307",10.1,Cheboygan County,MI,...,"[26, 0]","[31, 0]",2016.0,"10,817","9,803","1,014",9.4,031,26,26031
3127,CN2804700000000,"[28, 0]","[47, 0]",2006.0,"82,643","74,359","8,284",10.0,Harrison County,MS,...,"[28, 0]","[47, 0]",2016.0,"86,859","82,078","4,781",5.5,047,28,28047
3128,CN5301900000000,"[53, 0]","[19, 0]",2006.0,"2,946","2,650",296,10.0,Ferry County,WA,...,"[53, 0]","[19, 0]",2016.0,"2,491","2,235",256,10.3,019,53,53019
3129,CN2105100000000,"[21, 0]","[51, 0]",2006.0,"7,067","6,363",704,10.0,Clay County,KY,...,"[21, 0]","[51, 0]",2016.0,"5,451","4,895",556,10.2,051,21,21051
3130,CN4501100000000,"[45, 0]","[11, 0]",2006.0,"9,252","8,327",925,10.0,Barnwell County,SC,...,"[45, 0]","[11, 0]",2016.0,"8,063","7,466",597,7.4,011,45,45011
3131,CN0400100000000,"[4, 0]","[1, 0]",2006.0,"20,365","18,320","2,045",10.0,Apache County,AZ,...,"[4, 0]","[1, 0]",2016.0,"20,320","17,984","2,336",11.5,001,4,4001
3132,CN1607100000000,"[16, 0]","[71, 0]",2006.0,"2,231","2,188",43,1.9,Oneida County,ID,...,"[16, 0]","[71, 0]",2016.0,"2,206","2,126",80,3.6,071,16,16071
3133,CN5603500000000,"[56, 0]","[35, 0]",2006.0,"5,640","5,538",102,1.8,Sublette County,WY,...,"[56, 0]","[35, 0]",2016.0,"4,235","3,962",273,6.4,035,56,56035
3134,CN3009700000000,"[30, 0]","[97, 0]",2006.0,"2,816","2,767",49,1.7,Sweet Grass County,MT,...,"[30, 0]","[97, 0]",2016.0,"1,797","1,742",55,3.1,097,30,30097

In [31]:
# merged_UE_df = merged_UE_df.rename(columns={'county_fips_code_x':'county_fips_code', 'county':'County','state':'State', 'new_fips_y':'county_fips_code'})

In [32]:
merged_UE_df.head()

,laus_code_x,state_fips_code_x,county_fips_code_x,year_x,labor_force_x,employed_x,unemployed_x,unemployment_rate_x,county,state,...,state_fips_code_y,county_fips_code_y,year_y,labor_force_y,employed_y,unemployed_y,unemployment_rate_y,Updated county_fips_code_y,Updated state_fips_code_y,new_fips
0,CN2209500000000,"[22, 0]","[95, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. John the Baptist Parish,LA,...,"[22, 0]","[95, 0]",2016.0,"20,055","18,687","1,368",6.8,095,22,22095
1,CN2208700000000,"[22, 0]","[87, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. Bernard Parish,LA,...,"[22, 0]","[87, 0]",2016.0,"19,546","18,360","1,186",6.1,087,22,22087
2,CN2205100000000,"[22, 0]","[51, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,Jefferson Parish,LA,...,"[22, 0]","[51, 0]",2016.0,"216,487","205,085","11,402",5.3,051,22,22051
3,CN2207100000000,"[22, 0]","[71, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,Orleans Parish,LA,...,"[22, 0]","[71, 0]",2016.0,"179,964","169,433","10,531",5.9,071,22,22071
4,CN2208900000000,"[22, 0]","[89, 0]",2006.0,N.A.,N.A.,N.A.,N.A.,St. Charles Parish,LA,...,"[22, 0]","[89, 0]",2016.0,"25,323","23,980","1,343",5.3,089,22,22089

In [33]:
url = "https://www.cdc.gov/drugoverdose/maps/rxcounty2006.html"

px_table_2006 = pd.read_html(url)
px_2006_df = pd.DataFrame(px_table_2006[0])
px_2006_df.columns=['County', 'State', 'county_fips_code', '2006 Px Rate']
px_2006_df

                         County State  county_fips_code 2006 Px Rate
0            Aleutians East, AK    AK              2013            –
1            Aleutians West, AK    AK              2016            –
2                 Anchorage, AK    AK              2020         71.5
3                    Bethel, AK    AK              2050            –
4               Bristol Bay, AK    AK              2060            –
5                    Denali, AK    AK              2068            –
6                Dillingham, AK    AK              2070            –
7      Fairbanks North Star, AK    AK              2090         54.7
8                    Haines, AK    AK              2100            –
9             Hoonah-Angoon, AK    AK              2105            –
10                   Juneau, AK    AK              2110         95.3
11          Kenai Peninsula, AK    AK              2122         89.1
12        Ketchikan Gateway, AK    AK              2130        144.4
13            Kodiak Island, AK    AK              2150         69.4
14       Lake and Peninsula, AK    AK              2164            –
15        Matanuska-Susitna, AK    AK              2170         82.5
16                     Nome, AK    AK              2180            –
17              North Slope, AK    AK              2185            –
18         Northwest Arctic, AK    AK              2188            –
19               Petersburg, AK    AK              2195        107.4
20    Prince of Wales-Hyder, AK    AK              2198            –
21                    Sitka, AK    AK              2220            –
22                  Skagway, AK    AK              2230            –
23      Southeast Fairbanks, AK    AK              2240            –
24           Valdez-Cordova, AK    AK              2261         46.5
25             Wade Hampton, AK    AK              2270            –
26                 Wrangell, AK    AK              2275            –
27                  Yakutat, AK    AK              2282            –
28            Yukon-Koyukuk, AK    AK              2290            –
29                  Autauga, AL    AL              1001        134.8
...                         ...   ...               ...          ...
3113                 Upshur, WV    WV             54097         89.5
3114                  Wayne, WV    WV             54099         92.7
3115                Webster, WV    WV             54101         97.8
3116                 Wetzel, WV    WV             54103        104.9
3117                   Wirt, WV    WV             54105         43.0
3118                   Wood, WV    WV             54107        126.4
3119                Wyoming, WV    WV             54109        213.9
3120                 Albany, WY    WY             56001         54.1
3121               Big Horn, WY    WY             56003         46.4
3122               Campbell, WY    WY             56005         93.6
3123                 Carbon, WY    WY             56007         81.2
3124               Converse, WY    WY             56009         75.8
3125                  Crook, WY    WY             56011         15.4
3126                Fremont, WY    WY             56013         64.5
3127                 Goshen, WY    WY             56015         78.2
3128            Hot Springs, WY    WY             56017        135.1
3129                Johnson, WY    WY             56019         68.6
3130                Laramie, WY    WY             56021         69.2
3131                Lincoln, WY    WY             56023         89.3
3132                Natrona, WY    WY             56025         90.0
3133               Niobrara, WY    WY             56027            –
3134                   Park, WY    WY             56029         87.7
3135                 Platte, WY    WY             56031         76.2
3136               Sheridan, WY    WY             56033        100.1
3137               Sublette, WY    WY             56035         59.2
3138             Sweetwater, WY    WY             56037         97.2
3139                  Teton, WY    WY             56039         82.8
3140                  Uinta, WY    WY             56041         98.1
3141               Washakie, WY    WY             56043        104.2
3142                 Weston, WY    WY             56045         71.7

[3143 rows x 4 columns]

In [34]:
url = "https://www.cdc.gov/drugoverdose/maps/rxcounty2016.html"

px_table_2016 = pd.read_html(url)
px_2016_df = pd.DataFrame(px_table_2016[0])
px_2016_df.columns=['County', 'State', 'county_fips_code', '2016 Px Rate']
px_2016_df

                         County State  county_fips_code 2016 Px Rate
0            Aleutians East, AK    AK              2013            –
1            Aleutians West, AK    AK              2016            –
2                 Anchorage, AK    AK              2020         66.3
3                    Bethel, AK    AK              2050            –
4               Bristol Bay, AK    AK              2060            –
5                    Denali, AK    AK              2068            –
6                Dillingham, AK    AK              2070            –
7      Fairbanks North Star, AK    AK              2090         48.4
8                    Haines, AK    AK              2100            –
9             Hoonah-Angoon, AK    AK              2105            –
10                   Juneau, AK    AK              2110         79.8
11          Kenai Peninsula, AK    AK              2122         97.9
12        Ketchikan Gateway, AK    AK              2130         91.5
13            Kodiak Island, AK    AK              2150         33.6
14       Lake and Peninsula, AK    AK              2164            –
15        Matanuska-Susitna, AK    AK              2170         76.4
16                     Nome, AK    AK              2180            –
17              North Slope, AK    AK              2185            –
18         Northwest Arctic, AK    AK              2188            –
19               Petersburg, AK    AK              2195         71.0
20    Prince of Wales-Hyder, AK    AK              2198         56.4
21                    Sitka, AK    AK              2220          9.5
22                  Skagway, AK    AK              2230            –
23      Southeast Fairbanks, AK    AK              2240            –
24           Valdez-Cordova, AK    AK              2261         45.0
25             Wade Hampton, AK    AK              2270            –
26                 Wrangell, AK    AK              2275          0.6
27                  Yakutat, AK    AK              2282            –
28            Yukon-Koyukuk, AK    AK              2290            –
29                  Autauga, AL    AL              1001        129.6
...                         ...   ...               ...          ...
3113                 Upshur, WV    WV             54097         58.0
3114                  Wayne, WV    WV             54099         67.5
3115                Webster, WV    WV             54101         61.3
3116                 Wetzel, WV    WV             54103         95.5
3117                   Wirt, WV    WV             54105         38.1
3118                   Wood, WV    WV             54107        109.4
3119                Wyoming, WV    WV             54109        143.6
3120                 Albany, WY    WY             56001         46.7
3121               Big Horn, WY    WY             56003         56.0
3122               Campbell, WY    WY             56005         70.8
3123                 Carbon, WY    WY             56007         72.5
3124               Converse, WY    WY             56009         65.5
3125                  Crook, WY    WY             56011          0.3
3126                Fremont, WY    WY             56013         83.6
3127                 Goshen, WY    WY             56015         31.9
3128            Hot Springs, WY    WY             56017         98.1
3129                Johnson, WY    WY             56019         65.8
3130                Laramie, WY    WY             56021         71.6
3131                Lincoln, WY    WY             56023         77.6
3132                Natrona, WY    WY             56025         82.6
3133               Niobrara, WY    WY             56027          3.0
3134                   Park, WY    WY             56029         85.3
3135                 Platte, WY    WY             56031         54.5
3136               Sheridan, WY    WY             56033         51.8
3137               Sublette, WY    WY             56035         58.6
3138             Sweetwater, WY    WY             56037         87.7
3139                  Teton, WY    WY             56039         62.7
3140                  Uinta, WY    WY             56041        105.4
3141               Washakie, WY    WY             56043         81.3
3142                 Weston, WY    WY             56045         46.7

[3143 rows x 4 columns]

In [35]:
merged_df = pd.merge(px_2006_df, px_2016_df, on='county_fips_code', how='inner')
merged_df.drop(columns=['County_y','State_y'])
final_df = merged_df.rename(columns={'county_fips_code':'new_fips', 'County_x': 'County', 
                                     'State_x': 'State','2006 Px Rate': 
                                     '2006_px_rate','2016 Px Rate':'2016_px_rate'})
# final_df = final_df.set_index('new_fips').drop(columns=['County_y','State_y'])
final_df [['County','junk']]= final_df.County.str.split(",",expand=True,)

# final_df.iloc[1,3]

final_df = final_df[final_df['2006_px_rate'] != '–']
final_df = final_df[final_df['2016_px_rate'] != '–']
final_df = final_df.drop('junk', axis=1)


final_df['new_fips'] = final_df['new_fips'].astype(int)

final_df['new_fips'].dtype

dtype('int32')

In [36]:
merged_final = pd.merge(merged_UE_df,final_df , on=['new_fips'], how='inner')

In [37]:
final_df = merged_final.drop(columns=['laus_code_x','laus_code_y','state_fips_code_x', 'state_fips_code_x','county_fips_code_x', 
                                      'new_fips_x','county_fips_code_y','Updated county_fips_code_x',
                                      'Updated county_fips_code_y','Updated state_fips_code_x',
                                      'state_fips_code_y','Updated state_fips_code_y',
                                      'County_y','State_y','County','State'])

final_df = final_df.rename(columns={'year_x':'2006', 'labor_force_x':'labor_force_2006',
                                   'employed_x': 'employed_2006', 'unemployed_x':'unemployed:2006',
                                   'unemployment_rate_x':'unemployment_rate_2006',
                                   'year_y':'2016','labor_force_y':'labor_force_2016',
                                   'employed_y': 'employed_2016', 'unemployed_y':'unemployed:2016',
                                   'unemployment_rate_y':'unemployment_rate_2016'})
final_df

,2006,labor_force_2006,employed_2006,unemployed:2006,unemployment_rate_2006,county,state,2016,labor_force_2016,employed_2016,unemployed:2016,unemployment_rate_2016,new_fips,2006_px_rate,2016_px_rate
0,2006.0,N.A.,N.A.,N.A.,N.A.,St. John the Baptist Parish,LA,2016.0,"20,055","18,687","1,368",6.8,22095,84.6,93.2
1,2006.0,N.A.,N.A.,N.A.,N.A.,St. Bernard Parish,LA,2016.0,"19,546","18,360","1,186",6.1,22087,106.9,147.5
2,2006.0,N.A.,N.A.,N.A.,N.A.,Jefferson Parish,LA,2016.0,"216,487","205,085","11,402",5.3,22051,149.7,106.5
3,2006.0,N.A.,N.A.,N.A.,N.A.,Orleans Parish,LA,2016.0,"179,964","169,433","10,531",5.9,22071,52.9,64.8
4,2006.0,N.A.,N.A.,N.A.,N.A.,St. Charles Parish,LA,2016.0,"25,323","23,980","1,343",5.3,22089,72.6,74.0
5,2006.0,N.A.,N.A.,N.A.,N.A.,St. Tammany Parish,LA,2016.0,"117,490","111,662","5,828",5.0,22103,157.4,102.6
6,2006.0,"4,654","4,191",463,9.9,Jackson County,KY,2016.0,"4,166","3,834",332,8.0,21109,48.3,48.1
7,2006.0,"6,490","5,850",640,9.9,Bamberg County,SC,2016.0,"5,312","4,830",482,9.1,45009,85.9,101.1
8,2006.0,"6,546","5,898",648,9.9,Mackinac County,MI,2016.0,"5,191","4,680",511,9.8,26097,70.4,82.1
9,2006.0,"5,058","4,558",500,9.9,Trinity County,CA,2016.0,"4,996","4,642",354,7.1,6105,120.5,98.5
10,2006.0,"15,671","14,119","1,552",9.9,Williamsburg County,SC,2016.0,"12,464","11,497",967,7.8,45089,75.4,75.5
11,2006.0,"3,794","3,424",370,9.8,Clearwater County,MN,2016.0,"4,728","4,275",453,9.6,27029,65.1,68.3
12,2006.0,"8,372","7,571",801,9.6,Lee County,SC,2016.0,"6,433","5,976",457,7.1,45061,53.5,43.1
13,2006.0,"18,207","16,455","1,752",9.6,Hancock County,MS,2016.0,"18,899","17,752","1,147",6.1,28045,69.4,89.2
14,2006.0,"10,950","9,907","1,043",9.5,Roscommon County,MI,2016.0,"7,871","7,206",665,8.4,26143,111.5,147.5
15,2006.0,"18,642","16,872","1,770",9.5,Chesterfield County,SC,2016.0,"21,611","20,528","1,083",5.0,45025,88.7,86.9
16,2006.0,"11,184","10,135","1,049",9.4,Iosco County,MI,2016.0,"10,112","9,378",734,7.3,26069,115.6,153.4
17,2006.0,"97,919","88,681","9,238",9.4,Merced County,CA,2016.0,"114,393","102,304","12,089",10.6,6047,60.6,65.3
18,2006.0,"22,139","20,065","2,074",9.4,Washington County,MS,2016.0,"17,783","16,188","1,595",9.0,28151,78.1,104.3
19,2006.0,"1,506","1,366",140,9.3,Columbia County,WA,2016.0,"1,717","1,606",111,6.5,53013,20.9,119.9
20,2006.0,"13,398","12,154","1,244",9.3,Dillon County,SC,2016.0,"12,673","11,812",861,6.8,45033,95.6,127.2
21,2006.0,"10,678","9,687",991,9.3,Coahoma County,MS,2016.0,"9,230","8,430",800,8.7,28027,73.6,120.3
22,2006.0,"12,929","11,738","1,191",9.2,Clarendon County,SC,2016.0,"12,707","11,856",851,6.7,45027,79.7,80.8
23,2006.0,"2,537","2,303",234,9.2,Sharkey County,MS,2016.0,"1,716","1,566",150,8.7,28125,37.8,99.8
24,2006.0,"40,028","36,342","3,686",9.2,Orangeburg County,SC,2016.0,"35,586","32,413","3,173",8.9,45075,79.8,91.3
25,2006.0,"13,012","11,827","1,185",9.1,Muhlenberg County,KY,2016.0,"11,357","10,520",837,7.4,21177,99.2,128.0
26,2006.0,"5,754","5,228",526,9.1,Morgan County,OH,2016.0,"6,752","6,192",560,8.3,39115,55.9,42.3
27,2006.0,"6,356","5,778",578,9.1,Desha County,AR,2016.0,"5,441","5,145",296,5.4,5041,143.1,143.8
28,2006.0,"5,116","4,648",468,9.1,Rolette County,ND,2016.0,"4,986","4,448",538,10.8,38079,48.0,4.2
29,2006.0,"11,172","10,158","1,014",9.1,Sunflower County,MS,2016.0,"8,351","7,577",774,9.3,28133,41.3,53.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2708,2006.0,"4,091","3,628",463,11.3,Noxubee County,MS,2016.0,"3,970","3,643",327,8.2,28103,66.4,99.3
2709,2006.0,"17,168","15,234","1,934",11.3,Lawrence County,TN,2016.0,"17,762","16,742","1,020",5.7,47099,141.3,143.2
2710,2006.0,"12,647","11,233","1,414",11.2,Marlboro County,SC,2016.0,"9,304","8,518",786,8.4,45069,56.1,106.5
2711,2006.0,"5,169","4,592",577,11.2,Monroe County,OH,2016.0,"5,320","4,728",592,11.1,39111,59.5,44.8
2712,2006.0,"3,593","3,198",395,11.0,McCormick County,SC,2016.0,"3,390","3,200",190,5.6,45065,37.4,2.3
2713,2006.0,"3,655","3,255",400,10.9,Clay County,TN,2016.0,"3,036","2,838",198,6.5,47027,123.1,189.9
2714,2006.0,"12,286","10,947","1,339",10.9,Union County,SC,2016.0,"11,456","10,742",714,6.2,45087,126.8,119.8
2715,2006.0,"4,076","3,633",443,10.9,Schoolcraft County,MI,2016.0,"3,389","3,081",308,9.1,26153,114.1,105.6
2716,2006.0,"12,323","10,991","1,332",10.8,Luna County,NM,2016.0,"10,768","9,218","1,550",14.4,35029,49.0,72.8
2717,2006.0,"4,085","3,643",442,10.8,Oscoda County,MI,2016.0,"2,907","2,695",212,7.3,26135,107.5,98.0
2718,2006.0,"4,461","3,977",484,10.8,Alcona County,MI,2016.0,"3,829","3,537",292,7.6,26001,33.5,28.2
2719,2006.0,"13,364","11,932","1,432",10.7,Clare County,MI,2016.0,"11,958","11,086",872,7.3,26035,135.9,125.3
2720,2006.0,"8,180","7,306",874,10.7,Clay County,MS,2016.0,"8,030","7,380",650,8.1,28025,105.3,113.4
2721,2006.0,"3,564","3,183",381,10.7,Claiborne County,MS,2016.0,"3,096","2,745",351,11.3,28021,62.8,78.8
2722,2006.0,"6,667","5,976",691,10.4,Wayne County,TN,2016.0,"6,077","5,679",398,6.5,47181,146.4,152.5
2723,2006.0,"7,902","7,093",809,10.2,Arenac County,MI,2016.0,"6,122","5,617",505,8.2,26011,84.6,109.3
2724,2006.0,"4,326","3,886",440,10.2,Magoffin County,KY,2016.0,"3,147","2,520",627,19.9,21153,148.7,157.7
2725,2006.0,"16,159","14,511","1,648",10.2,Chester County,SC,2016.0,"13,378","12,411",967,7.2,45023,54.8,97.3
2726,2006.0,"7,157","6,424",733,10.2,Holmes County,MS,2016.0,"5,985","5,329",656,11.0,28051,43.9,66.5
2727,2006.0,"3,869","3,477",392,10.1,Allendale County,SC,2016.0,"2,660","2,431",229,8.6,45005,42.1,55.0
2728,2006.0,"10,958","9,850","1,108",10.1,Gladwin County,MI,2016.0,"9,889","9,200",689,7.0,26051,134.3,104.6
2729,2006.0,"5,977","5,371",606,10.1,McCreary County,KY,2016.0,"4,601","4,227",374,8.1,21147,161.8,120.9
2730,2006.0,"12,887","11,580","1,307",10.1,Cheboygan County,MI,2016.0,"10,817","9,803","1,014",9.4,26031,103.6,121.5
2731,2006.0,"82,643","74,359","8,284",10.0,Harrison County,MS,2016.0,"86,859","82,078","4,781",5.5,28047,132.7,125.7
2732,2006.0,"2,946","2,650",296,10.0,Ferry County,WA,2016.0,"2,491","2,235",256,10.3,53019,40.4,66.4
2733,2006.0,"7,067","6,363",704,10.0,Clay County,KY,2016.0,"5,451","4,895",556,10.2,21051,258.4,219.1
2734,2006.0,"9,252","8,327",925,10.0,Barnwell County,SC,2016.0,"8,063","7,466",597,7.4,45011,92.3,98.4
2735,2006.0,"20,365","18,320","2,045",10.0,Apache County,AZ,2016.0,"20,320","17,984","2,336",11.5,4001,16.0,18.5
2736,2006.0,"5,640","5,538",102,1.8,Sublette County,WY,2016.0,"4,235","3,962",273,6.4,56035,59.2,58.6
2737,2006.0,"2,816","2,767",49,1.7,Sweet Grass County,MT,2016.0,"1,797","1,742",55,3.1,30097,59.8,44.8

# DATABASE CREATION

In [ ]:
import pandas as pd
import json
import pymongo
from pymongo import MongoClient

In [38]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [39]:
# declare database
db = client.final_db

In [43]:
# Declare the collection
collection = db.final_db

In [53]:
records = final_df.to_dict('records')
db.myCollection.insert_many(records)