### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [3]:
# purchase_data["Price"] = purchase_data["Price"].map("${:,.2f}".format)

## Player Count

* Display the total number of players

In [4]:
player_count = purchase_data['SN'].count()
player_count

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = len(purchase_data['Item ID'].unique())                    
unique_items

183

In [6]:
average_price = purchase_data['Price'].mean()
average_price

3.050987179487176

In [7]:
number_purchases = len(purchase_data['Purchase ID'].unique())
number_purchases

780

In [8]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [9]:
#Create Summary Data Frame
analysis_df = pd.DataFrame({
    "Number of Unique Items": [unique_items], 
    "Average Price": [average_price],
    "Number of Purchases": [number_purchases],
    "Total Revenue": [total_revenue]})

analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [10]:
# purchase_data["average_price"] = purchase_data["average_price"].map(
#     "${:,.2f}".format)
# purchase_data ["total_revenue"] = purchase_data["total_revenue"].map(
#     "${:,.2f}".format)

# analysis_df = pd.DataFrame({
#     "Number of Unique Items": [unique_items], 
#     "Average Price": [average_price],
#     "Number of Purchases": [number_purchases],
#     "Total Revenue": [total_revenue]})

# analysis_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
total_gender = purchase_data["Gender"].count()
total_gender

780

In [12]:
#Male
total_gender = purchase_data["Gender"].count()
male = purchase_data["Gender"].value_counts()['Male']
male_percent = male/total_gender * 100
male_percent

83.58974358974359

In [13]:
# Female
female = purchase_data["Gender"].value_counts()['Female']
female_percent = female/total_gender * 100
female_percent

14.487179487179489

In [14]:
# Other / Non-Disclosed
other = purchase_data["Gender"].value_counts()['Other / Non-Disclosed']
other_percent = other/total_gender * 100
other_percent

1.9230769230769231

In [15]:
genderanalysis_df = pd.DataFrame({
    #"Gender": ["Male", "Female", "Other / Non-Disclosed"]
    #"Gender": ["Male", "Female", "Other / Non-Disclosed"]
    "Total Count": [male, female, other], 
    "Percentage of Players": [male_percent, female_percent, other_percent]})
genderanalysis_df

   Total Count  Percentage of Players
0          652              83.589744
1          113              14.487179
2           15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#Purchase Count
gender_groups = purchase_data.groupby(['Gender'])
purchase_count = gender_groups.count()["Price"]
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [17]:
#Average Purchase price
average_purchase_price = gender_groups.mean()["Price"]
average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [18]:
#purchase total per person
total_purchase = gender_groups.sum()["Price"]
total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [19]:
#average purchase total
total_average_purchase_price = (purchase_count*average_purchase_price)/total_purchase

In [20]:
#summary table
purchase_analysis_df = pd.DataFrame({
    "Purchase Count": [purchase_count], 
    "Average Purchase Price": [average_purchase_price],
    "Total Purchase Value": [total_purchase],
    "Avg Total Purchase per Person": [total_average_purchase_price]})

purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 1.0 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
#bins
# Create the names for the bins
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
age_df = pd.DataFrame(purchase_data)
age_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
#Categorize
age_df["Age Range"] = pd.cut(age_df["Age"], 8, labels=group_names)               
age_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
age_groups = purchase_data.groupby(['Age Range'])
age_groups.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,15-19
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,30-34
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,15-19
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,30-34
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,15-19
16,16,Lisirra25,20,Male,40,Second Chance,2.52,15-19
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,25-29
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,35-39
24,24,Siala43,30,Male,141,Persuasion,3.19,25-29
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,<10
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,<10
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,25-29
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
60,60,Yadanu52,34,Male,44,Bonecarvin Battle Axe,2.38,30-34
68,68,Indonmol95,15,Male,27,"Riddle, Tribute of Ended Dreams",3.30,10-14
76,76,Mindadaran26,13,Female,88,"Emberling, Defender of Delusions",3.75,10-14
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40,10-14
96,96,Lisassala98,16,Male,56,Foul Titanium Battle Axe,2.92,10-14
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+
341,341,Hiasurria41,41,Male,71,Demise,1.61,40+
477,477,Mindossa76,41,Male,173,Stormfury Longsword,4.93,40+
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93,40+
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00,40+

In [24]:
#Total Count
player_recount = age_groups['SN'].count()
player_recount

Age Range
<10       39
10-14     77
15-19    232
20-24    277
25-29     63
30-34     52
35-39     33
40+        7
Name: SN, dtype: int64

In [25]:
#percentage of players
total_recount = player_recount.sum()
player_percent = player_recount/total_recount * 100
player_percent

Age Range
<10       5.000000
10-14     9.871795
15-19    29.743590
20-24    35.512821
25-29     8.076923
30-34     6.666667
35-39     4.230769
40+       0.897436
Name: SN, dtype: float64

In [26]:
#summary table
player_df = pd.DataFrame({
    "Total Count": [player_recount], 
    "Percentage of Players": [player_percent]})
player_df.head()

,Total Count,Percentage of Players
0,Age Range <10 39 10-14 77 15-19 2...,Age Range <10 5.000000 10-14 9.87179...

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
# bins - see above

In [28]:
#purchase count 
purchase_recount = age_groups["Item ID"].count()
purchase_recount

Age Range
<10       39
10-14     77
15-19    232
20-24    277
25-29     63
30-34     52
35-39     33
40+        7
Name: Item ID, dtype: int64

In [29]:
#average purchase price
average_purchase_price_recount = age_groups.mean()["Price"]
average_purchase_price_recount

Age Range
<10      3.275641
10-14    2.965844
15-19    3.067845
20-24    3.036426
25-29    2.876667
30-34    2.994423
35-39    3.404545
40+      3.075714
Name: Price, dtype: float64

In [30]:
#total purchase total per person
total_purchase_recount = age_groups.sum()["Price"]
total_purchase_recount

Age Range
<10      127.75
10-14    228.37
15-19    711.74
20-24    841.09
25-29    181.23
30-34    155.71
35-39    112.35
40+       21.53
Name: Price, dtype: float64

In [31]:
total_average_purchase_reprice = (purchase_recount*average_purchase_price_recount)/total_purchase_recount

In [32]:
#summary table
purchase_analysis_recount_df = pd.DataFrame({
    "Purchase Count": [purchase_recount], 
    "Average Purchase Price": [average_purchase_price_recount],
    "Total Purchase Value": [total_purchase_recount],
    "Avg Total Purchase per Person": [total_average_purchase_reprice]})

purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 1.0 Male ...

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
#SN
SN_groups = age_df.groupby(['SN'])

#Purchase Count
purchase_count = SN_groups.count()["Price"]

#Average Purchase Price
average_purchase_count = SN_groups.mean()["Price"]

#Total Purchase Value
total_purchase_value = SN_groups.sum()["Price"]

topspenders_analysis = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": average_purchase_count,
    "Total Purchase Value": total_purchase_value})
topspenders_analysis.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

In [34]:
topspenders_analysis_sorted = topspenders_analysis.sort_values('Total Purchase Value', ascending=False).head()
topspenders_analysis_sorted

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
mostprofitable_analysis = purchase_data[["Item ID", "Item Name", "Price"]]
mostprofitable_analysis.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [36]:
# mostprofitable_analysis2 = purchase_data[["Item ID", "Item Name", [unique_items],"Price", [total_revenue]]]
# mostprofitable_analysis2.head()

In [37]:
#Number purchases
number_purchases_end = len(mostprofitable_analysis['Item ID'].unique())
number_purchases_end

183

In [38]:
#ITems
Item_groups = mostprofitable_analysis.groupby(['Item ID'])

#Average Purchase Price
average_purchase_end = Item_groups.mean()["Price"]

#Total Purchase Value
total_purchase_value_end = Item_groups.sum()["Price"]

mostprofitable_analysis_end = pd.DataFrame({
    "Purchase Count": number_purchases_end,
    "Average Purchase Price": average_purchase_end,
    "Total Purchase Value": total_purchase_value_end})
mostprofitable_analysis_end.head()

         Purchase Count  Average Purchase Price  Total Purchase Value
Item ID
0                   183                    1.28                  5.12
1                   183                    3.26                  9.78
2                   183                    2.48                 14.88
3                   183                    2.49                 14.94
4                   183                    1.70                  8.50

In [39]:
#groupby
# reorganized_df = purchase_data.groupby["Item ID"]
# reorganized_df.head()

In [40]:
#sort the purchase count column in descending order
mostprofitable_analysis_sorted = mostprofitable_analysis_end.sort_values('Purchase Count', ascending=False).head()
mostprofitable_analysis_sorted

         Purchase Count  Average Purchase Price  Total Purchase Value
Item ID
0                   183                    1.28                  5.12
116                 183                    4.18                 16.72
118                 183                    2.17                  2.17
119                 183                    4.32                 12.96
120                 183                    3.08                 18.48

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [41]:
mostprofitable_analysis_sorted = mostprofitable_analysis_end.sort_values('Total Purchase Value', ascending=False).head()
mostprofitable_analysis_sorted

         Purchase Count  Average Purchase Price  Total Purchase Value
Item ID
178                 183                    4.23                 50.76
82                  183                    4.90                 44.10
145                 183                    4.58                 41.22
92                  183                    4.88                 39.04
103                 183                    4.35                 34.80

In [ ]:
#the end...whew