In [1]:
import pandas as pd
import json
import pymongo
from pymongo import MongoClient

In [2]:
# Read BLS CSV umemployment file into dataframe using pandas

county_unemployment_2006 = pd.read_csv("2006_unemployment_by_county.csv")
county_unemployment_2006.head()

,laus_code,state_fips_code,county_fips_code,county_state,year,labor_force,employed,unemployed,unemployment_rate
0,CN0100100000000,1,1,"Autauga , AL",2006,"24,398","23,585",813,3.3
1,CN0100300000000,1,3,"Baldwin , AL",2006,"79,711","77,147","2,564",3.2
2,CN0100500000000,1,5,"Barbour , AL",2006,"10,705","10,096",609,5.7
3,CN0100700000000,1,7,"Bibb , AL",2006,"8,850","8,477",373,4.2
4,CN0100900000000,1,9,"Blount , AL",2006,"26,770","25,902",868,3.2

In [3]:
# Split BLS combined county_state column in dataframe into individual county, state columns

county_unemployment_2006_df = pd.DataFrame(county_unemployment_2006)
county_unemployment_2006_df[['county','state']]= county_unemployment_2006_df.county_state.str.split(",",expand=True,)

In [4]:
# Drop original BLS county_state column

clean_county_2006_df = county_unemployment_2006_df.drop('county_state',axis=1)
clean_county_2006_df = clean_county_2006_df.dropna()

In [5]:
# Drop Puerto Rico from dataframe

clean_county_2006_df = clean_county_2006_df[~clean_county_2006_df['state'].str.contains('PR')]
clean_county_2006_df

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state
0,CN0100100000000,1,1,2006,"24,398","23,585",813,3.3,Autauga,AL
1,CN0100300000000,1,3,2006,"79,711","77,147","2,564",3.2,Baldwin,AL
2,CN0100500000000,1,5,2006,"10,705","10,096",609,5.7,Barbour,AL
3,CN0100700000000,1,7,2006,"8,850","8,477",373,4.2,Bibb,AL
4,CN0100900000000,1,9,2006,"26,770","25,902",868,3.2,Blount,AL
5,CN0101100000000,1,11,2006,"3,702","3,372",330,8.9,Bullock,AL
6,CN0101300000000,1,13,2006,"9,238","8,709",529,5.7,Butler,AL
7,CN0101500000000,1,15,2006,"54,063","51,872","2,191",4.1,Calhoun,AL
8,CN0101700000000,1,17,2006,"15,749","14,828",921,5.8,Chambers,AL
9,CN0101900000000,1,19,2006,"11,854","11,352",502,4.2,Cherokee,AL
10,CN0102100000000,1,21,2006,"19,771","19,059",712,3.6,Chilton,AL
11,CN0102300000000,1,23,2006,"5,329","5,030",299,5.6,Choctaw,AL
12,CN0102500000000,1,25,2006,"10,261","9,622",639,6.2,Clarke,AL
13,CN0102700000000,1,27,2006,"6,182","5,902",280,4.5,Clay,AL
14,CN0102900000000,1,29,2006,"6,639","6,406",233,3.5,Cleburne,AL
15,CN0103100000000,1,31,2006,"20,691","19,917",774,3.7,Coffee,AL
16,CN0103300000000,1,33,2006,"25,307","24,128","1,179",4.7,Colbert,AL
17,CN0103500000000,1,35,2006,"5,123","4,833",290,5.7,Conecuh,AL
18,CN0103700000000,1,37,2006,"4,794","4,525",269,5.6,Coosa,AL
19,CN0103900000000,1,39,2006,"17,195","16,529",666,3.9,Covington,AL
20,CN0104100000000,1,41,2006,"6,595","6,332",263,4.0,Crenshaw,AL
21,CN0104300000000,1,43,2006,"39,375","38,026","1,349",3.4,Cullman,AL
22,CN0104500000000,1,45,2006,"20,480","19,522",958,4.7,Dale,AL
23,CN0104700000000,1,47,2006,"15,903","14,594","1,309",8.2,Dallas,AL
24,CN0104900000000,1,49,2006,"31,493","30,176","1,317",4.2,DeKalb,AL
25,CN0105100000000,1,51,2006,"35,169","33,968","1,201",3.4,Elmore,AL
26,CN0105300000000,1,53,2006,"14,348","13,634",714,5.0,Escambia,AL
27,CN0105500000000,1,55,2006,"46,521","44,546","1,975",4.2,Etowah,AL
28,CN0105700000000,1,57,2006,"7,743","7,414",329,4.2,Fayette,AL
29,CN0105900000000,1,59,2006,"13,939","13,291",648,4.6,Franklin,AL
...,...,...,...,...,...,...,...,...,...,...
3102,CN5512900000000,55,129,2006,"8,093","7,560",533,6.6,Washburn,WI
3103,CN5513100000000,55,131,2006,"73,930","70,867","3,063",4.1,Washington,WI
3104,CN5513300000000,55,133,2006,"216,291","208,079","8,212",3.8,Waukesha,WI
3105,CN5513500000000,55,135,2006,"28,487","27,060","1,427",5.0,Waupaca,WI
3106,CN5513700000000,55,137,2006,"12,842","12,117",725,5.6,Waushara,WI
3107,CN5513900000000,55,139,2006,"92,363","88,220","4,143",4.5,Winnebago,WI
3108,CN5514100000000,55,141,2006,"40,100","37,957","2,143",5.3,Wood,WI
3109,CN5600100000000,56,1,2006,"18,612","18,125",487,2.6,Albany,WY
3110,CN5600300000000,56,3,2006,"5,291","5,071",220,4.2,Big Horn,WY
3111,CN5600500000000,56,5,2006,"24,864","24,332",532,2.1,Campbell,WY
3112,CN5600700000000,56,7,2006,"7,813","7,552",261,3.3,Carbon,WY
3113,CN5600900000000,56,9,2006,"6,807","6,574",233,3.4,Converse,WY
3114,CN5601100000000,56,11,2006,"3,354","3,260",94,2.8,Crook,WY
3115,CN5601300000000,56,13,2006,"17,585","16,826",759,4.3,Fremont,WY
3116,CN5601500000000,56,15,2006,"5,856","5,630",226,3.9,Goshen,WY
3117,CN5601700000000,56,17,2006,"2,310","2,226",84,3.6,Hot Springs,WY
3118,CN5601900000000,56,19,2006,"3,815","3,696",119,3.1,Johnson,WY
3119,CN5602100000000,56,21,2006,"41,432","39,830","1,602",3.9,Laramie,WY
3120,CN5602300000000,56,23,2006,"8,143","7,860",283,3.5,Lincoln,WY
3121,CN5602500000000,56,25,2006,"39,770","38,585","1,185",3.0,Natrona,WY
3122,CN5602700000000,56,27,2006,"1,129","1,092",37,3.3,Niobrara,WY
3123,CN5602900000000,56,29,2006,"14,123","13,618",505,3.6,Park,WY
3124,CN5603100000000,56,31,2006,"3,963","3,788",175,4.4,Platte,WY
3125,CN5603300000000,56,33,2006,"15,353","14,868",485,3.2,Sheridan,WY
3126,CN5603500000000,56,35,2006,"5,640","5,538",102,1.8,Sublette,WY
3127,CN5603700000000,56,37,2006,"23,299","22,719",580,2.5,Sweetwater,WY
3128,CN5603900000000,56,39,2006,"13,931","13,577",354,2.5,Teton,WY
3129,CN5604100000000,56,41,2006,"10,950","10,620",330,3.0,Uinta,WY
3130,CN5604300000000,56,43,2006,"4,156","4,005",151,3.6,Washakie,WY
3131,CN5604500000000,56,45,2006,"3,054","2,947",107,3.5,Weston,WY

In [6]:
# Sort cleaned_county_df

sorted_county_2006_df = clean_county_2006_df.sort_values(['unemployment_rate'], ascending=False)
sorted_county_2006_df.head()

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state
80,CN0215800000000,2,158,2006,"2,539","2,012",527,20.8,Kusilvak Census Area,AK
196,CN0602500000000,6,25,2006,"63,023","53,304","9,719",15.4,Imperial,CA
108,CN0402700000000,4,27,2006,"77,764","66,129","11,635",15.0,Yuma,AZ
86,CN0220100000000,2,201,2006,"2,353","2,016",337,14.3,Prince of Wales-Outer Ketchikan Census Area,AK
2359,CN4601700000000,46,17,2006,549,471,78,14.2,Buffalo,SD

In [7]:
# Turn county and state fips codes into string

sorted_county_2006_df.state_fips_code = sorted_county_2006_df.state_fips_code.astype(str)
sorted_county_2006_df.county_fips_code = sorted_county_2006_df.county_fips_code.astype(str)

In [8]:
# Drop data after decimal point for county_fips_code

sorted_county_2006_df["county_fips_code"]=sorted_county_2006_df["county_fips_code"].str.split(pat=".")
sorted_county_2006_df["county_fips_code"]

80      [158]
196      [25]
108      [27]
86      [201]
2359     [17]
1279    [117]
70       [50]
93      [290]
2674    [323]
88      [232]
1291    [141]
1422     [63]
1280    [119]
189      [11]
83      [180]
2339     [67]
2766    [507]
2726    [427]
1227     [13]
1442    [103]
85      [188]
2467     [99]
2088    [111]
2340     [69]
3076     [78]
2338     [65]
2349     [87]
1297    [153]
2431     [27]
1801     [29]
        ...
2783     [33]
1653     [19]
2023     [87]
1662     [37]
845     [119]
2848     [79]
2769      [5]
1657     [27]
1712    [137]
2925    [685]
1700    [113]
2862    [107]
2905    [510]
1675     [63]
1659     [31]
2838     [59]
383     [131]
1985     [11]
1681     [75]
1711    [135]
1702    [117]
3111      [5]
584      [73]
2032    [105]
2816     [13]
588      [81]
1600     [25]
583      [71]
3126     [35]
1636     [97]
Name: county_fips_code, Length: 3131, dtype: object

In [9]:
# Drop data after decimal point for county_fips_code

sorted_county_2006_df["state_fips_code"]=sorted_county_2006_df["state_fips_code"].str.split(pat=".")
sorted_county_2006_df["state_fips_code"]

80       [2]
196      [6]
108      [4]
86       [2]
2359    [46]
1279    [26]
70       [2]
93       [2]
2674    [48]
88       [2]
1291    [26]
1422    [28]
1280    [26]
189      [6]
83       [2]
2339    [45]
2766    [48]
2726    [48]
1227    [26]
1442    [28]
85       [2]
2467    [47]
2088    [39]
2340    [45]
3076    [55]
2338    [45]
2349    [45]
1297    [26]
2431    [47]
1801    [35]
        ...
2783    [49]
1653    [31]
2023    [38]
1662    [31]
845     [19]
2848    [51]
2769    [49]
1657    [31]
1712    [31]
2925    [51]
1700    [31]
2862    [51]
2905    [51]
1675    [31]
1659    [31]
2838    [51]
383     [12]
1985    [38]
1681    [31]
1711    [31]
1702    [31]
3111    [56]
584     [16]
2032    [38]
2816    [51]
588     [16]
1600    [30]
583     [16]
3126    [56]
1636    [30]
Name: state_fips_code, Length: 3131, dtype: object

In [10]:
# Convert county_fips_code to match format of CDC data

sorted_county_2006_df["Updated county_fips_code"] = sorted_county_2006_df["county_fips_code"].apply(lambda x: x[0].zfill(3))
sorted_county_2006_df["Updated county_fips_code"]

80      158
196     025
108     027
86      201
2359    017
1279    117
70      050
93      290
2674    323
88      232
1291    141
1422    063
1280    119
189     011
83      180
2339    067
2766    507
2726    427
1227    013
1442    103
85      188
2467    099
2088    111
2340    069
3076    078
2338    065
2349    087
1297    153
2431    027
1801    029
       ...
2783    033
1653    019
2023    087
1662    037
845     119
2848    079
2769    005
1657    027
1712    137
2925    685
1700    113
2862    107
2905    510
1675    063
1659    031
2838    059
383     131
1985    011
1681    075
1711    135
1702    117
3111    005
584     073
2032    105
2816    013
588     081
1600    025
583     071
3126    035
1636    097
Name: Updated county_fips_code, Length: 3131, dtype: object

In [11]:
# Convert state_fips_code to match format of CDC data

sorted_county_2006_df["Updated state_fips_code"] = sorted_county_2006_df["state_fips_code"].apply(lambda x: x[0])
sorted_county_2006_df["Updated state_fips_code"]

80       2
196      6
108      4
86       2
2359    46
1279    26
70       2
93       2
2674    48
88       2
1291    26
1422    28
1280    26
189      6
83       2
2339    45
2766    48
2726    48
1227    26
1442    28
85       2
2467    47
2088    39
2340    45
3076    55
2338    45
2349    45
1297    26
2431    47
1801    35
        ..
2783    49
1653    31
2023    38
1662    31
845     19
2848    51
2769    49
1657    31
1712    31
2925    51
1700    31
2862    51
2905    51
1675    31
1659    31
2838    51
383     12
1985    38
1681    31
1711    31
1702    31
3111    56
584     16
2032    38
2816    51
588     16
1600    30
583     16
3126    56
1636    30
Name: Updated state_fips_code, Length: 3131, dtype: object

In [12]:
# Concatenate updated county and state_fips_code into a new combined fips code

new_fips = sorted_county_2006_df["Updated state_fips_code"] + sorted_county_2006_df["Updated county_fips_code"]
new_fips

80       2158
196      6025
108      4027
86       2201
2359    46017
1279    26117
70       2050
93       2290
2674    48323
88       2232
1291    26141
1422    28063
1280    26119
189      6011
83       2180
2339    45067
2766    48507
2726    48427
1227    26013
1442    28103
85       2188
2467    47099
2088    39111
2340    45069
3076    55078
2338    45065
2349    45087
1297    26153
2431    47027
1801    35029
        ...
2783    49033
1653    31019
2023    38087
1662    31037
845     19119
2848    51079
2769    49005
1657    31027
1712    31137
2925    51685
1700    31113
2862    51107
2905    51510
1675    31063
1659    31031
2838    51059
383     12131
1985    38011
1681    31075
1711    31135
1702    31117
3111    56005
584     16073
2032    38105
2816    51013
588     16081
1600    30025
583     16071
3126    56035
1636    30097
Length: 3131, dtype: object

In [13]:
# Insert new column to contain new_fips data

sorted_county_2006_df['new_fips'] = new_fips
sorted_county_2006_df

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state,Updated county_fips_code,Updated state_fips_code,new_fips
80,CN0215800000000,[2],[158],2006,"2,539","2,012",527,20.8,Kusilvak Census Area,AK,158,2,2158
196,CN0602500000000,[6],[25],2006,"63,023","53,304","9,719",15.4,Imperial,CA,025,6,6025
108,CN0402700000000,[4],[27],2006,"77,764","66,129","11,635",15.0,Yuma,AZ,027,4,4027
86,CN0220100000000,[2],[201],2006,"2,353","2,016",337,14.3,Prince of Wales-Outer Ketchikan Census Area,AK,201,2,2201
2359,CN4601700000000,[46],[17],2006,549,471,78,14.2,Buffalo,SD,017,46,46017
1279,CN2611700000000,[26],[117],2006,"28,428","24,656","3,772",13.3,Montcalm,MI,117,26,26117
70,CN0205000000000,[2],[50],2006,"6,980","6,057",923,13.2,Bethel Census Area,AK,050,2,2050
93,CN0229000000000,[2],[290],2006,"2,790","2,424",366,13.1,Yukon-Koyukuk Census Area,AK,290,2,2290
2674,CN4832300000000,[48],[323],2006,"19,535","17,030","2,505",12.8,Maverick,TX,323,48,48323
88,CN0223200000000,[2],[232],2006,"1,898","1,657",241,12.7,Skagway-Hoonah-Angoon Census Area,AK,232,2,2232
1291,CN2614100000000,[26],[141],2006,"6,233","5,459",774,12.4,Presque Isle,MI,141,26,26141
1422,CN2806300000000,[28],[63],2006,"2,723","2,387",336,12.3,Jefferson,MS,063,28,28063
1280,CN2611900000000,[26],[119],2006,"4,353","3,817",536,12.3,Montmorency,MI,119,26,26119
189,CN0601100000000,[6],[11],2006,"9,915","8,701","1,214",12.2,Colusa,CA,011,6,6011
83,CN0218000000000,[2],[180],2006,"3,897","3,427",470,12.1,Nome Census Area,AK,180,2,2180
2339,CN4506700000000,[45],[67],2006,"13,391","11,781","1,610",12.0,Marion,SC,067,45,45067
2766,CN4850700000000,[48],[507],2006,"3,749","3,311",438,11.7,Zavala,TX,507,48,48507
2726,CN4842700000000,[48],[427],2006,"21,432","18,955","2,477",11.6,Starr,TX,427,48,48427
1227,CN2601300000000,[26],[13],2006,"4,258","3,770",488,11.5,Baraga,MI,013,26,26013
1442,CN2810300000000,[28],[103],2006,"4,091","3,628",463,11.3,Noxubee,MS,103,28,28103
85,CN0218800000000,[2],[188],2006,"2,963","2,627",336,11.3,Northwest Arctic Borough,AK,188,2,2188
2467,CN4709900000000,[47],[99],2006,"17,168","15,234","1,934",11.3,Lawrence,TN,099,47,47099
2088,CN3911100000000,[39],[111],2006,"5,169","4,592",577,11.2,Monroe,OH,111,39,39111
2340,CN4506900000000,[45],[69],2006,"12,647","11,233","1,414",11.2,Marlboro,SC,069,45,45069
3076,CN5507800000000,[55],[78],2006,"1,669","1,483",186,11.1,Menominee,WI,078,55,55078
2338,CN4506500000000,[45],[65],2006,"3,593","3,198",395,11.0,McCormick,SC,065,45,45065
2349,CN4508700000000,[45],[87],2006,"12,286","10,947","1,339",10.9,Union,SC,087,45,45087
1297,CN2615300000000,[26],[153],2006,"4,076","3,633",443,10.9,Schoolcraft,MI,153,26,26153
2431,CN4702700000000,[47],[27],2006,"3,655","3,255",400,10.9,Clay,TN,027,47,47027
1801,CN3502900000000,[35],[29],2006,"12,323","10,991","1,332",10.8,Luna,NM,029,35,35029
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2783,CN4903300000000,[49],[33],2006,"1,407","1,375",32,2.3,Rich,UT,033,49,49033
1653,CN3101900000000,[31],[19],2006,"27,455","26,831",624,2.3,Buffalo,NE,019,31,31019
2023,CN3808700000000,[38],[87],2006,528,516,12,2.3,Slope,ND,087,38,38087
1662,CN3103700000000,[31],[37],2006,"5,699","5,566",133,2.3,Colfax,NE,037,31,31037
845,CN1911900000000,[19],[119],2006,"6,666","6,513",153,2.3,Lyon,IA,119,19,19119
2848,CN5107900000000,[51],[79],2006,"10,152","9,915",237,2.3,Greene,VA,079,51,51079
2769,CN4900500000000,[49],[5],2006,"58,285","56,941","1,344",2.3,Cache,UT,005,49,49005
1657,CN3102700000000,[31],[27],2006,"4,908","4,794",114,2.3,Cedar,NE,027,31,31027
1712,CN3113700000000,[31],[137],2006,"5,175","5,057",118,2.3,Phelps,NE,137,31,31137
2925,CN5168500000000,[51],[685],2006,"6,622","6,467",155,2.3,Manassas Park city,VA,685,51,51685
1700,CN3111300000000,[31],[113],2006,452,442,10,2.2,Logan,NE,113,31,31113
2862,CN5110700000000,[51],[107],2006,"156,992","153,601","3,391",2.2,Loudoun,VA,107,51,51107
2905,CN5151000000000,[51],[510],2006,"86,832","84,891","1,941",2.2,Alexandria city,VA,510,51,51510
1675,CN3106300000000,[31],[63],2006,"1,768","1,729",39,2.2,Frontier,NE,063,31,31063
1659,CN3103100000000,[31],[31],2006,"3,620","3,539",81,2.2,Cherry,NE,031,31,31031
2838,CN5105900000000,[51],[59],2006,"577,489","564,587","12,902",2.2,Fairfax,VA,059,51,51059
383,CN1213100000000,[12],[131],2006,"31,122","30,441",681,2.2,Walton,FL,131,12,12131
1985,CN3801100000000,[38],[11],2006,"1,771","1,732",39,2.2,Bowman,ND,011,38,38011
1681,CN3107500000000,[31],[75],2006,411,402,9,2.2,Grant,NE,075,31,31075
1711,CN3113500000000,[31],[135],2006,"1,582","1,547",35,2.2,Perkins,NE,135,31,31135
1702,CN3111700000000,[31],[117],2006,287,281,6,2.1,McPherson,NE,117,31,31117
3111,CN5600500000000,[56],[5],2006,"24,864","24,332",532,2.1,Campbell,WY,005,56,56005
584,CN1607300000000,[16],[73],2006,"4,720","4,621",99,2.1,Owyhee,ID,073,16,16073
2032,CN3810500000000,[38],[105],2006,"12,652","12,392",260,2.1,Williams,ND,105,38,38105
2816,CN5101300000000,[51],[13],2006,"127,332","124,804","2,528",2.0,Arlington,VA,013,51,51013
588,CN1608100000000,[16],[81],2006,"4,737","4,641",96,2.0,Teton,ID,081,16,16081
1600,CN3002500000000,[30],[25],2006,"1,767","1,732",35,2.0,Fallon,MT,025,30,30025
583,CN1607100000000,[16],[71],2006,"2,231","2,188",43,1.9,Oneida,ID,071,16,16071
3126,CN5603500000000,[56],[35],2006,"5,640","5,538",102,1.8,Sublette,WY,035,56,56035
1636,CN3009700000000,[30],[97],2006,"2,816","2,767",49,1.7,Sweet Grass,MT,097,30,30097

In [14]:
# Repeat all stapes taken to transform 2006 BLS data for 2016 (cells 2-13)

county_unemployment_2016 = pd.read_csv("2016_unemployment_by_county.csv")
county_unemployment_2016.head()

,laus_code,state_fips_code,county_fips_code,county_state,year,labor_force,employed,unemployed,unemployment_rate
0,CN0100100000000,1,1,"Autauga County, AL",2016,"25,966","24,645","1,321",5.1
1,CN0100300000000,1,3,"Baldwin County, AL",2016,"90,670","85,839","4,831",5.3
2,CN0100500000000,1,5,"Barbour County, AL",2016,"8,417","7,717",700,8.3
3,CN0100700000000,1,7,"Bibb County, AL",2016,"8,623","8,067",556,6.4
4,CN0100900000000,1,9,"Blount County, AL",2016,"24,623","23,298","1,325",5.4

In [15]:
county_unemployment_2016_df = pd.DataFrame(county_unemployment_2016)
county_unemployment_2016_df[['county','state']]= county_unemployment_2016_df.county_state.str.split(",",expand=True,)

In [16]:
clean_county_2016_df = county_unemployment_2016_df.drop('county_state',axis=1)
clean_county_2016_df = clean_county_2016_df.dropna()

clean_county_2016_df = clean_county_2016_df[~clean_county_2016_df['state'].str.contains('PR')]

In [17]:
sorted_county_2016_df = clean_county_2016_df.sort_values(['unemployment_rate'], ascending=False)
sorted_county_2016_df.head()

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state
198,CN0602500000000,6,25,2016,"75,207","57,049","18,158",24.1,Imperial County,CA
81,CN0215800000000,2,158,2016,"2,725","2,136",589,21.6,Kusilvak Census Area,AK
1068,CN2115300000000,21,153,2016,"3,147","2,520",627,19.9,Magoffin County,KY
110,CN0402700000000,4,27,2016,"94,117","76,345","17,772",18.9,Yuma County,AZ
95,CN0229000000000,2,290,2016,"2,423","1,990",433,17.9,Yukon-Koyukuk Census Area,AK

In [18]:
sorted_county_2016_df.state_fips_code = sorted_county_2016_df.state_fips_code.astype(str)
sorted_county_2016_df.county_fips_code = sorted_county_2016_df.county_fips_code.astype(str)

In [19]:
sorted_county_2016_df["county_fips_code"]=sorted_county_2016_df["county_fips_code"].str.split(pat=".")
sorted_county_2016_df["county_fips_code"]

198      [25]
81      [158]
1068    [153]
110      [27]
95      [290]
86      [188]
191      [11]
1431     [63]
65      [131]
1810     [29]
70       [50]
1427     [55]
2775    [507]
1057    [131]
2735    [427]
1039     [95]
2997     [13]
84      [180]
3020     [59]
1058    [133]
82      [164]
88      [198]
3014     [47]
2766    [489]
76      [105]
1173    [123]
2545     [47]
1051    [119]
1023     [63]
96        [1]
        ...
2401     [83]
2361      [3]
1690     [75]
1997     [17]
2421    [123]
1994     [11]
1668     [31]
1681     [57]
2036     [95]
284      [79]
2034     [91]
305     [121]
1744    [183]
2677    [311]
2389     [59]
1720    [135]
307     [125]
922      [71]
1704    [103]
1667     [29]
276      [63]
275      [61]
2624    [205]
847     [119]
303     [117]
2029     [81]
1624     [55]
292      [95]
1999     [21]
248       [9]
Name: county_fips_code, Length: 3140, dtype: object

In [20]:
sorted_county_2016_df["state_fips_code"]=sorted_county_2016_df["state_fips_code"].str.split(pat=".")
sorted_county_2016_df["state_fips_code"]

198      [6]
81       [2]
1068    [21]
110      [4]
95       [2]
86       [2]
191      [6]
1431    [28]
65       [1]
1810    [35]
70       [2]
1427    [28]
2775    [48]
1057    [21]
2735    [48]
1039    [21]
2997    [54]
84       [2]
3020    [54]
1058    [21]
82       [2]
88       [2]
3014    [54]
2766    [48]
76       [2]
1173    [22]
2545    [48]
1051    [21]
1023    [21]
96       [4]
        ...
2401    [46]
2361    [46]
1690    [31]
1997    [38]
2421    [46]
1994    [38]
1668    [31]
1681    [31]
2036    [38]
284      [8]
2034    [38]
305      [8]
1744    [31]
2677    [48]
2389    [46]
1720    [31]
307      [8]
922     [20]
1704    [31]
1667    [31]
276      [8]
275      [8]
2624    [48]
847     [19]
303      [8]
2029    [38]
1624    [30]
292      [8]
1999    [38]
248      [8]
Name: state_fips_code, Length: 3140, dtype: object

In [21]:
sorted_county_2016_df["Updated county_fips_code"] = sorted_county_2016_df["county_fips_code"].apply(lambda x: x[0].zfill(3))
sorted_county_2016_df["Updated county_fips_code"]

198     025
81      158
1068    153
110     027
95      290
86      188
191     011
1431    063
65      131
1810    029
70      050
1427    055
2775    507
1057    131
2735    427
1039    095
2997    013
84      180
3020    059
1058    133
82      164
88      198
3014    047
2766    489
76      105
1173    123
2545    047
1051    119
1023    063
96      001
       ...
2401    083
2361    003
1690    075
1997    017
2421    123
1994    011
1668    031
1681    057
2036    095
284     079
2034    091
305     121
1744    183
2677    311
2389    059
1720    135
307     125
922     071
1704    103
1667    029
276     063
275     061
2624    205
847     119
303     117
2029    081
1624    055
292     095
1999    021
248     009
Name: Updated county_fips_code, Length: 3140, dtype: object

In [22]:
sorted_county_2016_df["Updated state_fips_code"] = sorted_county_2016_df["state_fips_code"].apply(lambda x: x[0])
sorted_county_2016_df["Updated state_fips_code"]

198      6
81       2
1068    21
110      4
95       2
86       2
191      6
1431    28
65       1
1810    35
70       2
1427    28
2775    48
1057    21
2735    48
1039    21
2997    54
84       2
3020    54
1058    21
82       2
88       2
3014    54
2766    48
76       2
1173    22
2545    48
1051    21
1023    21
96       4
        ..
2401    46
2361    46
1690    31
1997    38
2421    46
1994    38
1668    31
1681    31
2036    38
284      8
2034    38
305      8
1744    31
2677    48
2389    46
1720    31
307      8
922     20
1704    31
1667    31
276      8
275      8
2624    48
847     19
303      8
2029    38
1624    30
292      8
1999    38
248      8
Name: Updated state_fips_code, Length: 3140, dtype: object

In [23]:
new_fips = sorted_county_2016_df["Updated state_fips_code"] + sorted_county_2016_df["Updated county_fips_code"]

In [24]:
sorted_county_2016_df['new_fips'] = new_fips
sorted_county_2016_df

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state,Updated county_fips_code,Updated state_fips_code,new_fips
198,CN0602500000000,[6],[25],2016,"75,207","57,049","18,158",24.1,Imperial County,CA,025,6,6025
81,CN0215800000000,[2],[158],2016,"2,725","2,136",589,21.6,Kusilvak Census Area,AK,158,2,2158
1068,CN2115300000000,[21],[153],2016,"3,147","2,520",627,19.9,Magoffin County,KY,153,21,21153
110,CN0402700000000,[4],[27],2016,"94,117","76,345","17,772",18.9,Yuma County,AZ,027,4,4027
95,CN0229000000000,[2],[290],2016,"2,423","1,990",433,17.9,Yukon-Koyukuk Census Area,AK,290,2,2290
86,CN0218800000000,[2],[188],2016,"2,964","2,490",474,16.0,Northwest Arctic Borough,AK,188,2,2188
191,CN0601100000000,[6],[11],2016,"10,910","9,214","1,696",15.5,Colusa County,CA,011,6,6011
1431,CN2806300000000,[28],[63],2016,"2,229","1,898",331,14.8,Jefferson County,MS,063,28,28063
65,CN0113100000000,[1],[131],2016,"2,822","2,416",406,14.4,Wilcox County,AL,131,1,1131
1810,CN3502900000000,[35],[29],2016,"10,768","9,218","1,550",14.4,Luna County,NM,029,35,35029
70,CN0205000000000,[2],[50],2016,"7,246","6,214","1,032",14.2,Bethel Census Area,AK,050,2,2050
1427,CN2805500000000,[28],[55],2016,401,345,56,14.0,Issaquena County,MS,055,28,28055
2775,CN4850700000000,[48],[507],2016,"3,887","3,348",539,13.9,Zavala County,TX,507,48,48507
1057,CN2113100000000,[21],[131],2016,"2,791","2,412",379,13.6,Leslie County,KY,131,21,21131
2735,CN4842700000000,[48],[427],2016,"26,358","22,841","3,517",13.3,Starr County,TX,427,48,48427
1039,CN2109500000000,[21],[95],2016,"6,744","5,851",893,13.2,Harlan County,KY,095,21,21095
2997,CN5401300000000,[54],[13],2016,"2,623","2,286",337,12.8,Calhoun County,WV,013,54,54013
84,CN0218000000000,[2],[180],2016,"4,084","3,565",519,12.7,Nome Census Area,AK,180,2,2180
3020,CN5405900000000,[54],[59],2016,"6,731","5,882",849,12.6,Mingo County,WV,059,54,54059
1058,CN2113300000000,[21],[133],2016,"6,425","5,623",802,12.5,Letcher County,KY,133,21,21133
82,CN0216400000000,[2],[164],2016,655,573,82,12.5,Lake and Peninsula Borough,AK,164,2,2164
88,CN0219800000000,[2],[198],2016,"2,768","2,431",337,12.2,Prince of Wales-Hyder Census Area,AK,198,2,2198
3014,CN5404700000000,[54],[47],2016,"5,085","4,467",618,12.2,McDowell County,WV,047,54,54047
2766,CN4848900000000,[48],[489],2016,"6,504","5,708",796,12.2,Willacy County,TX,489,48,48489
76,CN0210500000000,[2],[105],2016,"1,205","1,062",143,11.9,Hoonah-Angoon Census Area,AK,105,2,2105
1173,CN2212300000000,[22],[123],2016,"4,103","3,614",489,11.9,West Carroll Parish,LA,123,22,22123
2545,CN4804700000000,[48],[47],2016,"2,440","2,152",288,11.8,Brooks County,TX,047,48,48047
1051,CN2111900000000,[21],[119],2016,"4,559","4,028",531,11.6,Knott County,KY,119,21,21119
1023,CN2106300000000,[21],[63],2016,"2,098","1,855",243,11.6,Elliott County,KY,063,21,21063
96,CN0400100000000,[4],[1],2016,"20,320","17,984","2,336",11.5,Apache County,AZ,001,4,4001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2401,CN4608300000000,[46],[83],2016,"31,436","30,760",676,2.2,Lincoln County,SD,083,46,46083
2361,CN4600300000000,[46],[3],2016,"1,521","1,487",34,2.2,Aurora County,SD,003,46,46003
1690,CN3107500000000,[31],[75],2016,452,442,10,2.2,Grant County,NE,075,31,31075
1997,CN3801700000000,[38],[17],2016,"100,237","98,000","2,237",2.2,Cass County,ND,017,38,38017
2421,CN4612300000000,[46],[123],2016,"3,063","2,995",68,2.2,Tripp County,SD,123,46,46123
1994,CN3801100000000,[38],[11],2016,"1,837","1,797",40,2.2,Bowman County,ND,011,38,38011
1668,CN3103100000000,[31],[31],2016,"3,468","3,390",78,2.2,Cherry County,NE,031,31,31031
1681,CN3105700000000,[31],[57],2016,"1,195","1,169",26,2.2,Dundy County,NE,057,31,31057
2036,CN3809500000000,[38],[95],2016,"1,332","1,303",29,2.2,Towner County,ND,095,38,38095
284,CN0807900000000,[8],[79],2016,464,454,10,2.2,Mineral County,CO,079,8,8079
2034,CN3809100000000,[38],[91],2016,"1,075","1,052",23,2.1,Steele County,ND,091,38,38091
305,CN0812100000000,[8],[121],2016,"2,923","2,861",62,2.1,Washington County,CO,121,8,8121
1744,CN3118300000000,[31],[183],2016,565,553,12,2.1,Wheeler County,NE,183,31,31183
2677,CN4831100000000,[48],[311],2016,862,844,18,2.1,McMullen County,TX,311,48,48311
2389,CN4605900000000,[46],[59],2016,"1,831","1,792",39,2.1,Hand County,SD,059,46,46059
1720,CN3113500000000,[31],[135],2016,"1,818","1,779",39,2.1,Perkins County,NE,135,31,31135
307,CN0812500000000,[8],[125],2016,"5,444","5,330",114,2.1,Yuma County,CO,125,8,8125
922,CN2007100000000,[20],[71],2016,912,893,19,2.1,Greeley County,KS,071,20,20071
1704,CN3110300000000,[31],[103],2016,619,606,13,2.1,Keya Paha County,NE,103,31,31103
1667,CN3102900000000,[31],[29],2016,"2,289","2,242",47,2.1,Chase County,NE,029,31,31029
276,CN0806300000000,[8],[63],2016,"4,543","4,448",95,2.1,Kit Carson County,CO,063,8,8063
275,CN0806100000000,[8],[61],2016,847,830,17,2.0,Kiowa County,CO,061,8,8061
2624,CN4820500000000,[48],[205],2016,"2,961","2,901",60,2.0,Hartley County,TX,205,48,48205
847,CN1911900000000,[19],[119],2016,"7,087","6,944",143,2.0,Lyon County,IA,119,19,19119
303,CN0811700000000,[8],[117],2016,"21,150","20,719",431,2.0,Summit County,CO,117,8,8117
2029,CN3808100000000,[38],[81],2016,"2,333","2,288",45,1.9,Sargent County,ND,081,38,38081
1624,CN3005500000000,[30],[55],2016,"1,043","1,023",20,1.9,McCone County,MT,055,30,30055
292,CN0809500000000,[8],[95],2016,"2,474","2,426",48,1.9,Phillips County,CO,095,8,8095
1999,CN3802100000000,[38],[21],2016,"2,547","2,498",49,1.9,Dickey County,ND,021,38,38021
248,CN0800900000000,[8],[9],2016,"2,094","2,059",35,1.7,Baca County,CO,009,8,8009

In [25]:
# Merge 2006 and 2016 BLS unemployment data by county on new_fips

merged_UE_df = pd.merge(sorted_county_2006_df, sorted_county_2016_df , on=['new_fips'], how='inner')
merged_UE_df = merged_UE_df.rename(columns={'new_fips_y': 'new_fips'})

# Convert new_fips column into integer data-type

merged_UE_df['new_fips'] = merged_UE_df['new_fips'].astype(int)
merged_UE_df.head()

,laus_code_x,state_fips_code_x,county_fips_code_x,year_x,labor_force_x,employed_x,unemployed_x,unemployment_rate_x,county_x,state_x,...,county_fips_code_y,year_y,labor_force_y,employed_y,unemployed_y,unemployment_rate_y,county_y,state_y,Updated county_fips_code_y,Updated state_fips_code_y
0,CN0215800000000,[2],[158],2006,"2,539","2,012",527,20.8,Kusilvak Census Area,AK,...,[158],2016,"2,725","2,136",589,21.6,Kusilvak Census Area,AK,158,2
1,CN0602500000000,[6],[25],2006,"63,023","53,304","9,719",15.4,Imperial,CA,...,[25],2016,"75,207","57,049","18,158",24.1,Imperial County,CA,025,6
2,CN0402700000000,[4],[27],2006,"77,764","66,129","11,635",15.0,Yuma,AZ,...,[27],2016,"94,117","76,345","17,772",18.9,Yuma County,AZ,027,4
3,CN4601700000000,[46],[17],2006,549,471,78,14.2,Buffalo,SD,...,[17],2016,726,666,60,8.3,Buffalo County,SD,017,46
4,CN2611700000000,[26],[117],2006,"28,428","24,656","3,772",13.3,Montcalm,MI,...,[117],2016,"27,926","26,454","1,472",5.3,Montcalm County,MI,117,26

In [26]:
# Assign variable to CDC url for 2016 table data and use pandas to read table into dataframe

url = "https://www.cdc.gov/drugoverdose/maps/rxcounty2006.html"
px_table_2006 = pd.read_html(url)

# Data imported as list of tables; specify element needed within table list

px_2006_df = pd.DataFrame(px_table_2006[0])
px_2006_df.columns=['County', 'State', 'county_fips_code', '2006 Px Rate']
px_2006_df.head()

               County State  county_fips_code 2006 Px Rate
0  Aleutians East, AK    AK              2013            –
1  Aleutians West, AK    AK              2016            –
2       Anchorage, AK    AK              2020         71.5
3          Bethel, AK    AK              2050            –
4     Bristol Bay, AK    AK              2060            –

In [27]:
# Assign variable to CDC url for 2016 table data and use pandas to read table into dataframe

url = "https://www.cdc.gov/drugoverdose/maps/rxcounty2016.html"
px_table_2016 = pd.read_html(url)

# Data imported as list of tables; specify element needed within table list

px_2016_df = pd.DataFrame(px_table_2016[0])
px_2016_df.columns=['County', 'State', 'county_fips_code', '2016 Px Rate']
px_2016_df

                         County State  county_fips_code 2016 Px Rate
0            Aleutians East, AK    AK              2013            –
1            Aleutians West, AK    AK              2016            –
2                 Anchorage, AK    AK              2020         66.3
3                    Bethel, AK    AK              2050            –
4               Bristol Bay, AK    AK              2060            –
5                    Denali, AK    AK              2068            –
6                Dillingham, AK    AK              2070            –
7      Fairbanks North Star, AK    AK              2090         48.4
8                    Haines, AK    AK              2100            –
9             Hoonah-Angoon, AK    AK              2105            –
10                   Juneau, AK    AK              2110         79.8
11          Kenai Peninsula, AK    AK              2122         97.9
12        Ketchikan Gateway, AK    AK              2130         91.5
13            Kodiak Island, AK    AK              2150         33.6
14       Lake and Peninsula, AK    AK              2164            –
15        Matanuska-Susitna, AK    AK              2170         76.4
16                     Nome, AK    AK              2180            –
17              North Slope, AK    AK              2185            –
18         Northwest Arctic, AK    AK              2188            –
19               Petersburg, AK    AK              2195         71.0
20    Prince of Wales-Hyder, AK    AK              2198         56.4
21                    Sitka, AK    AK              2220          9.5
22                  Skagway, AK    AK              2230            –
23      Southeast Fairbanks, AK    AK              2240            –
24           Valdez-Cordova, AK    AK              2261         45.0
25             Wade Hampton, AK    AK              2270            –
26                 Wrangell, AK    AK              2275          0.6
27                  Yakutat, AK    AK              2282            –
28            Yukon-Koyukuk, AK    AK              2290            –
29                  Autauga, AL    AL              1001        129.6
...                         ...   ...               ...          ...
3113                 Upshur, WV    WV             54097         58.0
3114                  Wayne, WV    WV             54099         67.5
3115                Webster, WV    WV             54101         61.3
3116                 Wetzel, WV    WV             54103         95.5
3117                   Wirt, WV    WV             54105         38.1
3118                   Wood, WV    WV             54107        109.4
3119                Wyoming, WV    WV             54109        143.6
3120                 Albany, WY    WY             56001         46.7
3121               Big Horn, WY    WY             56003         56.0
3122               Campbell, WY    WY             56005         70.8
3123                 Carbon, WY    WY             56007         72.5
3124               Converse, WY    WY             56009         65.5
3125                  Crook, WY    WY             56011          0.3
3126                Fremont, WY    WY             56013         83.6
3127                 Goshen, WY    WY             56015         31.9
3128            Hot Springs, WY    WY             56017         98.1
3129                Johnson, WY    WY             56019         65.8
3130                Laramie, WY    WY             56021         71.6
3131                Lincoln, WY    WY             56023         77.6
3132                Natrona, WY    WY             56025         82.6
3133               Niobrara, WY    WY             56027          3.0
3134                   Park, WY    WY             56029         85.3
3135                 Platte, WY    WY             56031         54.5
3136               Sheridan, WY    WY             56033         51.8
3137               Sublette, WY    WY             56035         58.6
3138             Sweetwater, WY    WY             56037         87.7
3139                  Teton, WY    WY             56039         62.7
3140                  Uinta, WY    WY             56041        105.4
3141               Washakie, WY    WY             56043         81.3
3142                 Weston, WY    WY             56045         46.7

[3143 rows x 4 columns]

In [28]:
# Merge 2006 and 2016 CDC data into single dataframe on county_fips_code
# CDC county_fips_code includes both county code and state code prefix into contaenated code; BLS data was separate and required concatenation

merged_df = pd.merge(px_2006_df, px_2016_df, on='county_fips_code', how='inner')
merged_df.drop(columns=['County_y','State_y'])
final_df = merged_df.rename(columns={'county_fips_code':'new_fips', 'County_x': 'County', 
                                     'State_x': 'State','2006 Px Rate': 
                                     '2006_px_rate','2016 Px Rate':'2016_px_rate'})


# CDC county column included both county and state abbreviation; eliminate state abbreviation from this column

final_df [['County','junk']]= final_df.County.str.split(",",expand=True,)

final_df = final_df[final_df['2006_px_rate'] != '–']
final_df = final_df[final_df['2016_px_rate'] != '–']
final_df = final_df.drop('junk', axis=1)

# Convert new_fips column data to integer 

final_df['new_fips'] = final_df['new_fips'].astype(int)

final_df['new_fips'].dtype

dtype('int32')

In [29]:
# Merge BLS and CDC dataframe into single dataframe on new_fips

merged_final = pd.merge(merged_UE_df,final_df , on=['new_fips'], how='inner')
merged_final

,laus_code_x,state_fips_code_x,county_fips_code_x,year_x,labor_force_x,employed_x,unemployed_x,unemployment_rate_x,county_x,state_x,...,county_y,state_y,Updated county_fips_code_y,Updated state_fips_code_y,County,State,2006_px_rate,County_y,State_y,2016_px_rate
0,CN0602500000000,[6],[25],2006,"63,023","53,304","9,719",15.4,Imperial,CA,...,Imperial County,CA,025,6,Imperial,CA,51.7,"Imperial, CA",CA,52.4
1,CN0402700000000,[4],[27],2006,"77,764","66,129","11,635",15.0,Yuma,AZ,...,Yuma County,AZ,027,4,Yuma,AZ,46.9,"Yuma, AZ",AZ,56.6
2,CN2611700000000,[26],[117],2006,"28,428","24,656","3,772",13.3,Montcalm,MI,...,Montcalm County,MI,117,26,Montcalm,MI,88.2,"Montcalm, MI",MI,115.9
3,CN4832300000000,[48],[323],2006,"19,535","17,030","2,505",12.8,Maverick,TX,...,Maverick County,TX,323,48,Maverick,TX,28.0,"Maverick, TX",TX,28.4
4,CN2614100000000,[26],[141],2006,"6,233","5,459",774,12.4,Presque Isle,MI,...,Presque Isle County,MI,141,26,Presque Isle,MI,73.0,"Presque Isle, MI",MI,52.4
5,CN2611900000000,[26],[119],2006,"4,353","3,817",536,12.3,Montmorency,MI,...,Montmorency County,MI,119,26,Montmorency,MI,58.1,"Montmorency, MI",MI,64.3
6,CN0601100000000,[6],[11],2006,"9,915","8,701","1,214",12.2,Colusa,CA,...,Colusa County,CA,011,6,Colusa,CA,32.2,"Colusa, CA",CA,45.2
7,CN4506700000000,[45],[67],2006,"13,391","11,781","1,610",12.0,Marion,SC,...,Marion County,SC,067,45,Marion,SC,107.3,"Marion, SC",SC,115.6
8,CN4850700000000,[48],[507],2006,"3,749","3,311",438,11.7,Zavala,TX,...,Zavala County,TX,507,48,Zavala,TX,26.0,"Zavala, TX",TX,0.7
9,CN4842700000000,[48],[427],2006,"21,432","18,955","2,477",11.6,Starr,TX,...,Starr County,TX,427,48,Starr,TX,24.2,"Starr, TX",TX,34.6
10,CN2601300000000,[26],[13],2006,"4,258","3,770",488,11.5,Baraga,MI,...,Baraga County,MI,013,26,Baraga,MI,102.5,"Baraga, MI",MI,83.9
11,CN2810300000000,[28],[103],2006,"4,091","3,628",463,11.3,Noxubee,MS,...,Noxubee County,MS,103,28,Noxubee,MS,66.4,"Noxubee, MS",MS,99.3
12,CN4709900000000,[47],[99],2006,"17,168","15,234","1,934",11.3,Lawrence,TN,...,Lawrence County,TN,099,47,Lawrence,TN,141.3,"Lawrence, TN",TN,143.2
13,CN3911100000000,[39],[111],2006,"5,169","4,592",577,11.2,Monroe,OH,...,Monroe County,OH,111,39,Monroe,OH,59.5,"Monroe, OH",OH,44.8
14,CN4506900000000,[45],[69],2006,"12,647","11,233","1,414",11.2,Marlboro,SC,...,Marlboro County,SC,069,45,Marlboro,SC,56.1,"Marlboro, SC",SC,106.5
15,CN4506500000000,[45],[65],2006,"3,593","3,198",395,11.0,McCormick,SC,...,McCormick County,SC,065,45,McCormick,SC,37.4,"McCormick, SC",SC,2.3
16,CN4508700000000,[45],[87],2006,"12,286","10,947","1,339",10.9,Union,SC,...,Union County,SC,087,45,Union,SC,126.8,"Union, SC",SC,119.8
17,CN2615300000000,[26],[153],2006,"4,076","3,633",443,10.9,Schoolcraft,MI,...,Schoolcraft County,MI,153,26,Schoolcraft,MI,114.1,"Schoolcraft, MI",MI,105.6
18,CN4702700000000,[47],[27],2006,"3,655","3,255",400,10.9,Clay,TN,...,Clay County,TN,027,47,Clay,TN,123.1,"Clay, TN",TN,189.9
19,CN3502900000000,[35],[29],2006,"12,323","10,991","1,332",10.8,Luna,NM,...,Luna County,NM,029,35,Luna,NM,49.0,"Luna, NM",NM,72.8
20,CN2600100000000,[26],[1],2006,"4,461","3,977",484,10.8,Alcona,MI,...,Alcona County,MI,001,26,Alcona,MI,33.5,"Alcona, MI",MI,28.2
21,CN2613500000000,[26],[135],2006,"4,085","3,643",442,10.8,Oscoda,MI,...,Oscoda County,MI,135,26,Oscoda,MI,107.5,"Oscoda, MI",MI,98.0
22,CN2802500000000,[28],[25],2006,"8,180","7,306",874,10.7,Clay,MS,...,Clay County,MS,025,28,Clay,MS,105.3,"Clay, MS",MS,113.4
23,CN2603500000000,[26],[35],2006,"13,364","11,932","1,432",10.7,Clare,MI,...,Clare County,MI,035,26,Clare,MI,135.9,"Clare, MI",MI,125.3
24,CN2802100000000,[28],[21],2006,"3,564","3,183",381,10.7,Claiborne,MS,...,Claiborne County,MS,021,28,Claiborne,MS,62.8,"Claiborne, MS",MS,78.8
25,CN4718100000000,[47],[181],2006,"6,667","5,976",691,10.4,Wayne,TN,...,Wayne County,TN,181,47,Wayne,TN,146.4,"Wayne, TN",TN,152.5
26,CN2601100000000,[26],[11],2006,"7,902","7,093",809,10.2,Arenac,MI,...,Arenac County,MI,011,26,Arenac,MI,84.6,"Arenac, MI",MI,109.3
27,CN2115300000000,[21],[153],2006,"4,326","3,886",440,10.2,Magoffin,KY,...,Magoffin County,KY,153,21,Magoffin,KY,148.7,"Magoffin, KY",KY,157.7
28,CN2805100000000,[28],[51],2006,"7,157","6,424",733,10.2,Holmes,MS,...,Holmes County,MS,051,28,Holmes,MS,43.9,"Holmes, MS",MS,66.5
29,CN4502300000000,[45],[23],2006,"16,159","14,511","1,648",10.2,Chester,SC,...,Chester County,SC,023,45,Chester,SC,54.8,"Chester, SC",SC,97.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2702,CN3102900000000,[31],[29],2006,"2,099","2,048",51,2.4,Chase,NE,...,Chase County,NE,029,31,Chase,NE,78.0,"Chase, NE",NE,64.4
2703,CN5173500000000,[51],[735],2006,"6,299","6,150",149,2.4,Poquoson city,VA,...,Poquoson city,VA,735,51,Poquoson,VA,89.2,"Poquoson, VA",VA,80.6
2704,CN4838300000000,[48],[383],2006,"2,286","2,230",56,2.4,Reagan,TX,...,Reagan County,TX,383,48,Reagan,TX,42.1,"Reagan, TX",TX,25.6
2705,CN2501900000000,[25],[19],2006,"8,396","8,197",199,2.4,Nantucket /town,MA,...,Nantucket County/town,MA,019,25,Nantucket,MA,50.8,"Nantucket, MA",MA,36.7
2706,CN3104100000000,[31],[41],2006,"6,131","5,984",147,2.4,Custer,NE,...,Custer County,NE,041,31,Custer,NE,100.8,"Custer, NE",NE,91.1
2707,CN3502800000000,[35],[28],2006,"11,107","10,839",268,2.4,Los Alamos,NM,...,Los Alamos County,NM,028,35,Los Alamos,NM,50.2,"Los Alamos, NM",NM,70.6
2708,CN5115300000000,[51],[153],2006,"197,085","192,301","4,784",2.4,Prince William,VA,...,Prince William County,VA,153,51,Prince William,VA,38.9,"Prince William, VA",VA,38.5
2709,CN3103300000000,[31],[33],2006,"5,204","5,080",124,2.4,Cheyenne,NE,...,Cheyenne County,NE,033,31,Cheyenne,NE,57.1,"Cheyenne, NE",NE,45.5
2710,CN4904700000000,[49],[47],2006,"16,300","15,902",398,2.4,Uintah,UT,...,Uintah County,UT,047,49,Uintah,UT,80.1,"Uintah, UT",UT,66.9
2711,CN3003100000000,[30],[31],2006,"49,210","48,009","1,201",2.4,Gallatin,MT,...,Gallatin County,MT,031,30,Gallatin,MT,59.7,"Gallatin, MT",MT,46.7
2712,CN5116500000000,[51],[165],2006,"42,116","41,097","1,019",2.4,Rockingham,VA,...,Rockingham County,VA,165,51,Rockingham,VA,24.0,"Rockingham, VA",VA,30.3
2713,CN3109900000000,[31],[99],2006,"3,875","3,785",90,2.3,Kearney,NE,...,Kearney County,NE,099,31,Kearney,NE,54.3,"Kearney, NE",NE,62.7
2714,CN3108100000000,[31],[81],2006,"5,421","5,299",122,2.3,Hamilton,NE,...,Hamilton County,NE,081,31,Hamilton,NE,39.9,"Hamilton, NE",NE,65.2
2715,CN3101900000000,[31],[19],2006,"27,455","26,831",624,2.3,Buffalo,NE,...,Buffalo County,NE,019,31,Buffalo,NE,73.5,"Buffalo, NE",NE,73.9
2716,CN1911900000000,[19],[119],2006,"6,666","6,513",153,2.3,Lyon,IA,...,Lyon County,IA,119,19,Lyon,IA,29.7,"Lyon, IA",IA,24.9
2717,CN4900500000000,[49],[5],2006,"58,285","56,941","1,344",2.3,Cache,UT,...,Cache County,UT,005,49,Cache,UT,65.5,"Cache, UT",UT,54.5
2718,CN3102700000000,[31],[27],2006,"4,908","4,794",114,2.3,Cedar,NE,...,Cedar County,NE,027,31,Cedar,NE,7.6,"Cedar, NE",NE,34.4
2719,CN3113700000000,[31],[137],2006,"5,175","5,057",118,2.3,Phelps,NE,...,Phelps County,NE,137,31,Phelps,NE,126.7,"Phelps, NE",NE,114.5
2720,CN5110700000000,[51],[107],2006,"156,992","153,601","3,391",2.2,Loudoun,VA,...,Loudoun County,VA,107,51,Loudoun,VA,40.9,"Loudoun, VA",VA,36.8
2721,CN5151000000000,[51],[510],2006,"86,832","84,891","1,941",2.2,Alexandria city,VA,...,Alexandria city,VA,510,51,Alexandria,VA,38.4,"Alexandria, VA",VA,33.0
2722,CN5105900000000,[51],[59],2006,"577,489","564,587","12,902",2.2,Fairfax,VA,...,Fairfax County,VA,059,51,Fairfax,VA,35.7,"Fairfax, VA",VA,29.7
2723,CN1213100000000,[12],[131],2006,"31,122","30,441",681,2.2,Walton,FL,...,Walton County,FL,131,12,Walton,FL,105.2,"Walton, FL",FL,89.0
2724,CN3801100000000,[38],[11],2006,"1,771","1,732",39,2.2,Bowman,ND,...,Bowman County,ND,011,38,Bowman,ND,49.8,"Bowman, ND",ND,55.2
2725,CN5600500000000,[56],[5],2006,"24,864","24,332",532,2.1,Campbell,WY,...,Campbell County,WY,005,56,Campbell,WY,93.6,"Campbell, WY",WY,70.8
2726,CN3810500000000,[38],[105],2006,"12,652","12,392",260,2.1,Williams,ND,...,Williams County,ND,105,38,Williams,ND,67.4,"Williams, ND",ND,59.7
2727,CN5101300000000,[51],[13],2006,"127,332","124,804","2,528",2.0,Arlington,VA,...,Arlington County,VA,013,51,Arlington,VA,28.7,"Arlington, VA",VA,24.4
2728,CN1608100000000,[16],[81],2006,"4,737","4,641",96,2.0,Teton,ID,...,Teton County,ID,081,16,Teton,ID,57.8,"Teton, ID",ID,57.8
2729,CN3002500000000,[30],[25],2006,"1,767","1,732",35,2.0,Fallon,MT,...,Fallon County,MT,025,30,Fallon,MT,69.9,"Fallon, MT",MT,2.9
2730,CN5603500000000,[56],[35],2006,"5,640","5,538",102,1.8,Sublette,WY,...,Sublette County,WY,035,56,Sublette,WY,59.2,"Sublette, WY",WY,58.6
2731,CN3009700000000,[30],[97],2006,"2,816","2,767",49,1.7,Sweet Grass,MT,...,Sweet Grass County,MT,097,30,Sweet Grass,MT,59.8,"Sweet Grass, MT",MT,44.8

In [30]:
# Clean up columns in final dataframe

final_df = merged_final.drop(columns=['laus_code_x','laus_code_y','state_fips_code_x', 'state_fips_code_x','county_fips_code_x',
                                      'county_fips_code_y','Updated county_fips_code_x',
                                      'Updated county_fips_code_y','Updated state_fips_code_x',
                                      'state_fips_code_y','Updated state_fips_code_y',
                                      'County_y','State_y','County','State'])

final_df = final_df.rename(columns={'year_x':'2006', 'labor_force_x':'labor_force_2006',
                                   'employed_x': 'employed_2006', 'unemployed_x':'unemployed:2006',
                                   'unemployment_rate_x':'unemployment_rate_2006',
                                   'year_y':'2016','labor_force_y':'labor_force_2016',
                                   'employed_y': 'employed_2016', 'unemployed_y':'unemployed:2016',
                                   'unemployment_rate_y':'unemployment_rate_2016'})
final_df

,2006,labor_force_2006,employed_2006,unemployed:2006,unemployment_rate_2006,county_x,state_x,new_fips,2016,labor_force_2016,employed_2016,unemployed:2016,unemployment_rate_2016,county_y,state_y,2006_px_rate,2016_px_rate
0,2006,"63,023","53,304","9,719",15.4,Imperial,CA,6025,2016,"75,207","57,049","18,158",24.1,Imperial County,CA,51.7,52.4
1,2006,"77,764","66,129","11,635",15.0,Yuma,AZ,4027,2016,"94,117","76,345","17,772",18.9,Yuma County,AZ,46.9,56.6
2,2006,"28,428","24,656","3,772",13.3,Montcalm,MI,26117,2016,"27,926","26,454","1,472",5.3,Montcalm County,MI,88.2,115.9
3,2006,"19,535","17,030","2,505",12.8,Maverick,TX,48323,2016,"24,244","21,523","2,721",11.2,Maverick County,TX,28.0,28.4
4,2006,"6,233","5,459",774,12.4,Presque Isle,MI,26141,2016,"5,288","4,784",504,9.5,Presque Isle County,MI,73.0,52.4
5,2006,"4,353","3,817",536,12.3,Montmorency,MI,26119,2016,"3,060","2,750",310,10.1,Montmorency County,MI,58.1,64.3
6,2006,"9,915","8,701","1,214",12.2,Colusa,CA,6011,2016,"10,910","9,214","1,696",15.5,Colusa County,CA,32.2,45.2
7,2006,"13,391","11,781","1,610",12.0,Marion,SC,45067,2016,"12,670","11,560","1,110",8.8,Marion County,SC,107.3,115.6
8,2006,"3,749","3,311",438,11.7,Zavala,TX,48507,2016,"3,887","3,348",539,13.9,Zavala County,TX,26.0,0.7
9,2006,"21,432","18,955","2,477",11.6,Starr,TX,48427,2016,"26,358","22,841","3,517",13.3,Starr County,TX,24.2,34.6
10,2006,"4,258","3,770",488,11.5,Baraga,MI,26013,2016,"3,221","2,957",264,8.2,Baraga County,MI,102.5,83.9
11,2006,"4,091","3,628",463,11.3,Noxubee,MS,28103,2016,"3,970","3,643",327,8.2,Noxubee County,MS,66.4,99.3
12,2006,"17,168","15,234","1,934",11.3,Lawrence,TN,47099,2016,"17,762","16,742","1,020",5.7,Lawrence County,TN,141.3,143.2
13,2006,"5,169","4,592",577,11.2,Monroe,OH,39111,2016,"5,320","4,728",592,11.1,Monroe County,OH,59.5,44.8
14,2006,"12,647","11,233","1,414",11.2,Marlboro,SC,45069,2016,"9,304","8,518",786,8.4,Marlboro County,SC,56.1,106.5
15,2006,"3,593","3,198",395,11.0,McCormick,SC,45065,2016,"3,390","3,200",190,5.6,McCormick County,SC,37.4,2.3
16,2006,"12,286","10,947","1,339",10.9,Union,SC,45087,2016,"11,456","10,742",714,6.2,Union County,SC,126.8,119.8
17,2006,"4,076","3,633",443,10.9,Schoolcraft,MI,26153,2016,"3,389","3,081",308,9.1,Schoolcraft County,MI,114.1,105.6
18,2006,"3,655","3,255",400,10.9,Clay,TN,47027,2016,"3,036","2,838",198,6.5,Clay County,TN,123.1,189.9
19,2006,"12,323","10,991","1,332",10.8,Luna,NM,35029,2016,"10,768","9,218","1,550",14.4,Luna County,NM,49.0,72.8
20,2006,"4,461","3,977",484,10.8,Alcona,MI,26001,2016,"3,829","3,537",292,7.6,Alcona County,MI,33.5,28.2
21,2006,"4,085","3,643",442,10.8,Oscoda,MI,26135,2016,"2,907","2,695",212,7.3,Oscoda County,MI,107.5,98.0
22,2006,"8,180","7,306",874,10.7,Clay,MS,28025,2016,"8,030","7,380",650,8.1,Clay County,MS,105.3,113.4
23,2006,"13,364","11,932","1,432",10.7,Clare,MI,26035,2016,"11,958","11,086",872,7.3,Clare County,MI,135.9,125.3
24,2006,"3,564","3,183",381,10.7,Claiborne,MS,28021,2016,"3,096","2,745",351,11.3,Claiborne County,MS,62.8,78.8
25,2006,"6,667","5,976",691,10.4,Wayne,TN,47181,2016,"6,077","5,679",398,6.5,Wayne County,TN,146.4,152.5
26,2006,"7,902","7,093",809,10.2,Arenac,MI,26011,2016,"6,122","5,617",505,8.2,Arenac County,MI,84.6,109.3
27,2006,"4,326","3,886",440,10.2,Magoffin,KY,21153,2016,"3,147","2,520",627,19.9,Magoffin County,KY,148.7,157.7
28,2006,"7,157","6,424",733,10.2,Holmes,MS,28051,2016,"5,985","5,329",656,11.0,Holmes County,MS,43.9,66.5
29,2006,"16,159","14,511","1,648",10.2,Chester,SC,45023,2016,"13,378","12,411",967,7.2,Chester County,SC,54.8,97.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2702,2006,"2,099","2,048",51,2.4,Chase,NE,31029,2016,"2,289","2,242",47,2.1,Chase County,NE,78.0,64.4
2703,2006,"6,299","6,150",149,2.4,Poquoson city,VA,51735,2016,"6,158","5,940",218,3.5,Poquoson city,VA,89.2,80.6
2704,2006,"2,286","2,230",56,2.4,Reagan,TX,48383,2016,"1,702","1,597",105,6.2,Reagan County,TX,42.1,25.6
2705,2006,"8,396","8,197",199,2.4,Nantucket /town,MA,25019,2016,"7,053","6,740",313,4.4,Nantucket County/town,MA,50.8,36.7
2706,2006,"6,131","5,984",147,2.4,Custer,NE,31041,2016,"6,345","6,197",148,2.3,Custer County,NE,100.8,91.1
2707,2006,"11,107","10,839",268,2.4,Los Alamos,NM,35028,2016,"8,792","8,423",369,4.2,Los Alamos County,NM,50.2,70.6
2708,2006,"197,085","192,301","4,784",2.4,Prince William,VA,51153,2016,"234,613","225,972","8,641",3.7,Prince William County,VA,38.9,38.5
2709,2006,"5,204","5,080",124,2.4,Cheyenne,NE,31033,2016,"5,447","5,294",153,2.8,Cheyenne County,NE,57.1,45.5
2710,2006,"16,300","15,902",398,2.4,Uintah,UT,49047,2016,"14,138","12,821","1,317",9.3,Uintah County,UT,80.1,66.9
2711,2006,"49,210","48,009","1,201",2.4,Gallatin,MT,30031,2016,"62,146","60,399","1,747",2.8,Gallatin County,MT,59.7,46.7
2712,2006,"42,116","41,097","1,019",2.4,Rockingham,VA,51165,2016,"40,499","39,061","1,438",3.6,Rockingham County,VA,24.0,30.3
2713,2006,"3,875","3,785",90,2.3,Kearney,NE,31099,2016,"3,737","3,649",88,2.4,Kearney County,NE,54.3,62.7
2714,2006,"5,421","5,299",122,2.3,Hamilton,NE,31081,2016,"4,648","4,519",129,2.8,Hamilton County,NE,39.9,65.2
2715,2006,"27,455","26,831",624,2.3,Buffalo,NE,31019,2016,"27,191","26,512",679,2.5,Buffalo County,NE,73.5,73.9
2716,2006,"6,666","6,513",153,2.3,Lyon,IA,19119,2016,"7,087","6,944",143,2.0,Lyon County,IA,29.7,24.9
2717,2006,"58,285","56,941","1,344",2.3,Cache,UT,49005,2016,"61,265","59,396","1,869",3.1,Cache County,UT,65.5,54.5
2718,2006,"4,908","4,794",114,2.3,Cedar,NE,31027,2016,"4,565","4,449",116,2.5,Cedar County,NE,7.6,34.4
2719,2006,"5,175","5,057",118,2.3,Phelps,NE,31137,2016,"4,924","4,801",123,2.5,Phelps County,NE,126.7,114.5
2720,2006,"156,992","153,601","3,391",2.2,Loudoun,VA,51107,2016,"206,982","200,302","6,680",3.2,Loudoun County,VA,40.9,36.8
2721,2006,"86,832","84,891","1,941",2.2,Alexandria city,VA,51510,2016,"96,239","93,414","2,825",2.9,Alexandria city,VA,38.4,33.0
2722,2006,"577,489","564,587","12,902",2.2,Fairfax,VA,51059,2016,"615,850","595,783","20,067",3.3,Fairfax County,VA,35.7,29.7
2723,2006,"31,122","30,441",681,2.2,Walton,FL,12131,2016,"28,917","27,676","1,241",4.3,Walton County,FL,105.2,89.0
2724,2006,"1,771","1,732",39,2.2,Bowman,ND,38011,2016,"1,837","1,797",40,2.2,Bowman County,ND,49.8,55.2
2725,2006,"24,864","24,332",532,2.1,Campbell,WY,56005,2016,"24,427","22,667","1,760",7.2,Campbell County,WY,93.6,70.8
2726,2006,"12,652","12,392",260,2.1,Williams,ND,38105,2016,"22,636","21,652",984,4.3,Williams County,ND,67.4,59.7
2727,2006,"127,332","124,804","2,528",2.0,Arlington,VA,51013,2016,"146,165","142,305","3,860",2.6,Arlington County,VA,28.7,24.4
2728,2006,"4,737","4,641",96,2.0,Teton,ID,16081,2016,"5,995","5,801",194,3.2,Teton County,ID,57.8,57.8
2729,2006,"1,767","1,732",35,2.0,Fallon,MT,30025,2016,"1,813","1,747",66,3.6,Fallon County,MT,69.9,2.9
2730,2006,"5,640","5,538",102,1.8,Sublette,WY,56035,2016,"4,235","3,962",273,6.4,Sublette County,WY,59.2,58.6
2731,2006,"2,816","2,767",49,1.7,Sweet Grass,MT,30097,2016,"1,797","1,742",55,3.1,Sweet Grass County,MT,59.8,44.8

In [31]:
# Load dataframe into Mongo database and collection

conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

# declare database
db = client.final_db

# Declare the collection
collection = db.final_db

records = final_df.to_dict('records')
db.myCollection.insert_many(records)